[2013-05-23 08:15] brandwe opened #1 "Add multi-tenant capability to passport strategy"
We need to add multi-tenant capability to the strategy. I can add to the walkthrough after this capability is added. Best way forward is illustrated here: http://msdn.microsoft.com/en-us/library/dn151789.aspx

[2013-06-26 18:49] DannyDouglass opened #2 "Hosting in Azure Website?"
I forked this repo and deployed via a local git repository and it appears that node isn't running.  I get the error "You do not have permission to view this directory or page".

I tried adding the following start command with no luck:

"scripts": {
    "start": "node ./lib/passport-azure-ad/index.js",

Any suggestions?

[2013-06-26 19:19] #2 closed, assigned to brandwe

[2013-08-25 19:43] csbrandt opened #4 "Object function SelectNodes(doc, xpath) has no method 'SelectNodes'"
node_modules/passport-azure-ad/lib/passport-azure-ad/saml.js:204

Note: 'xmlCrypto.xpath' is the function SelectNodes(doc, xpath)

[2013-10-22 07:24] #4 closed, assigned to nobody

[2014-01-02 17:13] iamakimmer opened #6 "Invalid Signature Error in SAML.validateResponse"
Did something change in Azure regarding handling the token information?

All of a sudden I'm getting an error in the callback.  It's been working fine for a wihle, but today I'm failing in the post callback:

app.post('/login/callback',
passport.authenticate('wsfed-saml2', { failureRedirect: '/', failureFlash: true }),
function(req, res) {
res.redirect('/');
});

returns:

500 Error: Invalid signa

[2014-01-10 04:08] #6 closed, assigned to nobody

[2014-01-23 19:14] georgeslegros opened #8 "Mac Development"
Hi guys,

This looks really awesome!
Do you know if there is any way to develop using your library on Mac OS?

Thanks,

Georges

[2014-02-23 03:26] CalvinDale opened #10 "Express 500 Error: Invalid signature"
First a caveat: I'm completely new to Node.js.  Nevertheless I thought I would give Node a try and my first concern was learning how to enable authentication with our Windows Azure Active Directory tenant (which is extended via ADFS from our on-premises corporate AD).  And I think I followed the tutorial instructions correctly.  But after logging in first to the Microsoft Sign in page and then int

[2014-04-23 17:06] #10 closed, assigned to nobody

[2014-06-12 10:29] tp opened #14 "TypeError: Cannot call method 'error' of undefined"
Just got this internal error when running the sample (probably not correctly configured), and wanted to log it here.
`at passport-azure-ad/lib/passport-azure-ad/wsfedstrategy.js:86:21`

I'll be back as soon as I have more info as to what caused the error in the first place.

[2014-08-29 19:29] gbockus opened #17 "wsfederation extractToken function does not support restify style parameters."
It assumes that the body will have a wresult property.  When using restify the param is available req.params.wresult instead of the body.

[2014-12-15 09:34] ingfy opened #18 "TypeError: Cannot read property 'length' of undefined"
Error in saml.js gives a TypeError:

    c:\CODE\ad-test\node_modules\passport-azure-ad\lib\passport-azure-ad\saml.js:314
    for (var i=0;i<this.certs.length;i++) {
                             ^
    TypeError: Cannot read property 'length' of undefined
        at SAML.checkSignature (c:\CODE\ad-test\node_modules\passport-azure-ad\lib\passport-azure-ad\saml.js:314:28)
        at SAML.validateResp

[2014-12-25 06:23] #8 closed, assigned to brandwe

[2015-01-07 10:39] #18 closed

[2015-01-07 13:01] CharlotteSjothun opened #21 "Error: Invalid signature"
There is trouble with the signature for users with a name that contains æ, ø or å.

In saml.js:

    // asynchronously process the samlResponse to create the user profile
    async.waterfall([
    // parse the samlResponse into a JavaScript object
    function(next){
      xml = new Buffer(samlResponse, 'base64').toString('ascii');

Because of .toString('ascii') "æ" becomes "C&" (which leads to "u

[2015-01-13 06:02] fpereira1 opened #22 "identity SAML callback not called"
There seems to be an issue with viewing a `/identity` route as in the example for SAML authentication. [examples/login-saml/app.js#L193](https://github.com/AzureAD/passport-azure-ad/blob/master/examples/login-saml/app.js#L193)

Where the first load of `/identity` works fine, but the next won't, as the callback is never called when it does not match the condition anymore `this.federationMetadata ==

[2015-02-06 05:05] ambahk opened #25 "Example for connecting to a private ADFS"
Is there any examples on connecting to a private ADFS by exchanging metadata?  In particular, how should I prepare the metadata data for the IdP?  Thanks?

I see that in saml.js there's SAML.prototype.identity().  Maybe I should fill in all the options there to generate the metadata.xml?  But then, is this necessary if we are based on wsfed?

Thank you!

[2015-03-18 01:46] Petah opened #26 "logoutUrl and loginCallback do not seem to work"
logoutUrl and loginCallback do not seem to work

The login/logout process seems to go trough alright, but the browser is not redirected back to the right place.

[2015-04-17 14:47] joaomoreno opened #27 "Warn that cookie-parser, body-parser and express-session are required"
It took me a while to find out that [expressjs/express-session](https://github.com/expressjs/express-session), [expressjs/cookie-parser](https://github.com/expressjs/body-parser) and [expressjs/body-parser](https://github.com/expressjs/body-parser) are required by this middleware. It's very hard to detect this, there's no error message at all.

Additionally, your samples should be updated to this:

[2015-04-17 21:27] #27 closed

[2015-04-17 21:27] joaomoreno commented on #27
Created #28

[2015-04-24 05:12] OwenBrotherwood commented on #27
@joaomoreno why did you not include the code above in your Pull Request?

[2015-04-24 05:15] OwenBrotherwood commented on #25
@ambahk I am working my way thru a wsfed for private ADFS.
One think was that the example was not https : done and I describe a quick method to obtain a pfx certificate.
Current result https works but no joy yet

https://github.com/OwenBrotherwood/passport-azure-ad/tree/master/examples/login-wsfed

[2015-04-24 06:17] ambahk commented on #25
Thanks for your reply Owen.  My IdP client has decided to setup the trust on their AD manually.  We are still in the process.  From your experience is this a viable route?  Thanks.

[2015-04-24 06:28] ambahk commented on #25
Oh sorry I forgot to mention.  We have switched to saml2 instead of wsfed because the client wants to use SAML Tracer (the Firefox extension) to check the SAML messages.  So I guess my previous comment is irrelevant.

[2015-04-24 08:48] OwenBrotherwood commented on #25
Status.
The Microsoft System Staff have a MS ADFS for internal SSO and have successfully used the service for Microsoft Centric needs.
However, at the present moment, the passport node way is not working.
At the present time, a redirect is created to:
https:<MS ADFS server>/<path>/2005
https://<MS ADFS server>/<path>/2005/certificatemixed?wtrealm=https%3A%2F%2F<realm details%2F&wa=wsignin1.0&whr=

[2015-04-25 18:34] joaomoreno commented on #27
Plenty busy.

[2015-04-25 19:07] brandwe commented on #26
Do you have the correct replyURL set up in Azure portal? The redirect should go to wherever you specified the replyURL to be. This is separate from Login URL.

[2015-04-25 19:09] brandwe commented on #25
This is interesting. I don't think we ever anticipated the Passport lib being used in this way. I'll take some research with @RandalliLama and get back to you.

[2015-04-25 19:10] brandwe commented on #22
Awesome fix. Definitely submit a pull request to get credit for the find!

[2015-04-25 19:27] brandwe commented on #21
This is very interesting. I need to remember why we originally locked this down to ASCII. Give me a few days to do some research? Meanwhile I assume you're doing this in your code with no issues so far?

[2015-04-27 08:53] OwenBrotherwood commented on #25
@brandwe We are ready when you are: our current thoughts are that the certificatemixed is not the method needed. I am getting a history update from our MS staff on what was done before the introduction of the identityMetadata xml file. Apparently, the xml file creates a quicker/easier config but then one has to ensure one uses the correct item that is the correct "certificatemixed" or what should

[2015-04-27 10:57] CharlotteSjothun commented on #21
It has been fixed in pull request #24 from flikka/ascii-to-utf8 :) So this can be closed

[2015-04-27 10:57] #21 closed

[2015-04-27 12:36] OwenBrotherwood commented on #25
It seems that if an identityMetadata is defined, certificatemixed may be hardcoded.
If one uses a cert instead of identityMetadata, then the otherwise ignored identityProviderUrl is used.
If the identityProviderUrl is a usernamemixed, it may be possible to obtain a authentication

[2015-04-27 12:54] OwenBrotherwood commented on #25
Compare with the "normal way" that AD is sometimes interfaced to by non-MS components that I have experienced.
- The server component uses LDAP, and in the case of anonymous bind not being allowed, the server component has to Bind with credentials.
- The user identifies themselves: username and password
- The credentials are checked by the server component and the appropriate flow continues (in ma

[2015-04-27 18:12] OwenBrotherwood commented on #25
@brandwe
certificatemixed is the first hit for https://github.com/AzureAD/passport-azure-ad/blob/master/lib/passport-azure-ad/metadata.js?#L88-L90

[2015-04-28 05:02] OwenBrotherwood commented on #26
@brandwe
Using method from other post to obtain ADFS (non azure) standart browser (non-form) login prompt, I too have just hit the wrong callback.
Doc issue? I need to reread the doc to see if the requirements of what the node world has to tell the MS ADFS world is clear ie. the set of values one has to agree on in order to get to and past the login and land at callback.

[2015-04-28 05:11] OwenBrotherwood commented on #25
@brandwe
I used a cert and a identityProviderUrl, and obtained a non-forms based login dialog.
callback problem needs work, as indicated in other issue, ie a check with my local friendly MS ADFS guy as to what parameter is in the url that should callback.

Please note:
One problem at a time (ie ensure callback to /login/callback) but I have one nasty result by guessing: altering post /login/callba

[2015-04-28 05:22] OwenBrotherwood commented on #25
@ambahk
I want to check SAML Tracer in my environment, so I will post experiences in this comment (also with reedits of this comment as I gain experience to if I am able to use it in my environment)

[2015-04-28 06:21] ambahk commented on #25
@OwenBrotherwood thanks in advance for your kind sharing :)

[2015-04-28 15:38] OwenBrotherwood commented on #25
@brandwe
Looks like our "standard" internal ADSF is returns version 1.1 and the libraries in this package expect version 2.0.
This is a BIG issue if this is correct.
The README.md indicates "tested" and this can be reasonably assumed "by Microsoft".
What is tested?
- is this a azure centric solution or are the references to internal ADSF to be taken seriously?

The above sounds like a hard tone: s

[2015-04-28 16:37] OwenBrotherwood commented on #25
@brandwe
http://blogs.technet.com/b/askpfeplat/archive/2014/11/03/adfs-deep-dive-comparing-ws-fed-saml-and-oauth-protocols.aspx
WSFED 1.1
SAML: 2.0

Investigate configuring SAML on internal ADSF
Rework the README.md's

[2015-04-28 17:37] brandwe commented on #25
We do not test against ADFS. We target Azure AD. ADFS, because it is a server product, necessarily lags behind the cloud. I doubt you'll see us support 1.x for Passport.js unfortunately, but I'm not certain what the status is of SAML or WS-FED support in 1.x.

As far as WS-Fed vs. SAML vs. OpenID Connect. We have lots of customers using WS-Fed that come from Microsoft and SAML was the previous ind

[2015-06-22 20:29] brandwe commented on #26
We may have a fix. Awaiting the response to see if the finder wants to submit a PR to get credit :-)

[2015-06-22 21:21] Petah commented on #26
Sorry, not using this anymore.

[2015-06-22 23:30] brandwe commented on #26
What are you using instead if you don't mind me asking?>

[2015-07-09 17:16] brentschmaltz opened #34 "Token Validation should allow for 'kid' less tokens."
'kid' is optional and this library should allow for that.

[2015-07-09 21:29] brentschmaltz opened #35 "Options.identityMetadata should be renamed to Options.metadata"
options.identityMetadata -> options.metadata

[2015-07-16 03:04] jmhall opened #36 "'bunyan' a dev dependency but used in metadata.js"
I'm getting this error:

Error: Cannot find module 'bunyan'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/Users/mhall/Documents/git/jls/node_modules/passport-azure-ad/lib/passport-azure-ad/metadata.js:31:14)
    at Module._compile (modu

[2015-07-16 04:12] jmhall opened #37 "Possible regression on #7, using multiple certs?"
Before updating to 1.0.0 from npm this was working, but now I'm getting this:

Error: Invalid signature
    at SAML.validateResponse (/Users/mhall/Documents/git/jls/node_modules/passport-azure-ad/lib/passport-azure-ad/wsfedsaml.js:115:25)
    at Strategy._doAuthenticate (/Users/mhall/Documents/git/jls/node_modules/passport-azure-ad/lib/passport-azure-ad/wsfedstrategy.js:164:20)

I'm assuming this

[2015-07-16 04:29] jmhall commented on #37
Maybe I'm doing something wrong...I updated my package.json to use 1.0.0 and started getting several errors.  I'm rolling back to 0.0.5 and the errors disappear.  Apologies if these issues are related to something I'm doing wrong with npm.

[2015-07-21 04:47] brandwe commented on #37
Can you try the latest npm and make sure this is fixed?

[2015-07-21 04:47] brandwe commented on #36
Fixed!

[2015-07-21 04:48] brandwe commented on #26
Fixed.

[2015-07-21 04:48] #26 closed

[2015-07-21 04:48] #22 closed

[2015-07-21 04:49] #14 closed

[2015-07-21 04:49] #1 closed

[2015-07-21 10:33] jmhall commented on #37
Sure, I'll follow back up on this later today

[2015-07-23 21:53] #37 closed

[2015-07-23 21:53] #36 closed

[2015-08-03 08:35] omerlh opened #42 "Remove Ursa dependency"
Hey
As documented [here](https://azure.microsoft.com/en-us/documentation/articles/nodejs-use-node-modules-azure-apps/), Azure WebApp not supporting right now native modules installation.
I will be great if you try to remove the ursa module, so we can easily use this module within azure web app.
Thanks,
Omer

[2015-08-03 12:47] romiem commented on #42
+1
This is proving a showstopper for me.

[2015-08-03 12:49] omerlh commented on #42
This should be very easy, instead of using ursa for creating the public key, it could be done like in this [library](https://github.com/dei79/node-azure-ad-jwt/blob/master/lib/azure-ad-validation-manager.js). Maybe it less secure, I am not sure what is the difference between the methods.

[2015-08-03 17:24] brandwe commented on #42
I'm on it. This has been a problem with PCs when we moved to the latest version. I'm looking at alternatives now. Security and supportability is the most important concerns.

[2015-08-03 17:37] brandwe commented on #42
Offending code is here: https://github.com/AzureAD/passport-azure-ad/blob/master/lib/passport-azure-ad/metadata.js#L210

[2015-08-03 18:13] brandwe commented on #42
I've requested to use his fix here: https://github.com/dei79/node-azure-ad-jwt/issues/3

Unfortunately I can't just depend on the library as we'd need to do bug fixes, etc. and maintain the code.

[2015-08-04 05:01] omerlh commented on #42
Great :+1:  Waiting for it...

[2015-08-05 19:49] brandwe commented on #42
I have decided since this only requires generating the PEM to do so myself. I have a pull request out for this here: https://github.com/AzureAD/passport-azure-ad/pull/43

[2015-08-06 05:08] omerlh commented on #42
Great. Waiting for merge and new version…

From: Brandon Werner [mailto:notifications@github.com]
Sent: Wednesday, August 5, 2015 10:50 PM
To: AzureAD/passport-azure-ad <passport-azure-ad@noreply.github.com>
Cc: Omer Levi Hevroni <omerl@SOLUTOLTD.onmicrosoft.com>
Subject: Re: [passport-azure-ad] Remove Ursa dependency (#42)

I have decided since this only requires generating the PEM to do so mysel

[2015-08-06 14:36] davideickhoff opened #44 "callback not working with newest xml-crypto release"
we noticed that the dependencies in the package.json do not point to specific versions of the external libs.. this is dangerous and broke our system

please update the dependencies to use specific versions. On our site it works with the following changes
https://github.com/audibene-em/passport-azure-ad

[2015-08-10 01:26] brandwe commented on #42
Done and npm 1.1.1 published.

[2015-08-10 01:28] brandwe commented on #44
Yes but it's a struggle as some systems won't have the problem and need additional features. It's hard to lock down on a lot of these for bug fix reasons - node libs are pretty lax on semantic versioning. I will take your xml change though if you want to push it.

[2015-08-10 05:02] omerlh commented on #42
Great. Thank you!

[2015-08-10 06:11] omerlh opened #46 "Add the ability to pass log instance in options"
Hey
Currently the log always write to console, which is very annoying. Would be great if I could pass custom banyan logger so I could control to where your logs will be written, and on which level. I was thinking about something like that:
https://gist.github.com/omerlh/415ef7efceaa4787dc23
Thank you!
Omer

[2015-08-11 02:13] #42 closed

[2015-08-27 21:18] brandwe opened #49 "Create way to allow for passing id_token, id_token+code for OIDCStrategy"
This should be surfaced in config.js

[2015-08-27 21:20] brandwe opened #50 "Allow for token to be provided as POST vs. query"

[2015-08-27 21:21] brandwe opened #51 "Remove call to user info endpoint if convergence flow"

[2015-08-27 21:35] brandwe commented on #49
oid_token+code is default

[2015-08-30 05:21] omerlh opened #53 "Cannot read property 'keys' of undefined - production bug"
Hey
I have a little node js server, that running using your library for authentication, for 2 weeks now.
From time to time there is some weird exception thrown from it:
[code]
I happen in the last 2 weeks 35 times. The weird thing is that it happens mainly in weekends (Thursday to Saturday), and Azure don't keep the console output for that long. So, I don't have the logs from this module.
I will k

[2015-08-31 03:11] #49 closed

[2015-08-31 03:12] #44 closed

[2015-08-31 03:12] brandwe commented on #50
Fixed

[2015-08-31 03:12] #50 closed

[2015-08-31 03:12] brandwe commented on #51
Fixed

[2015-08-31 03:12] #51 closed

[2015-08-31 03:15] brandwe commented on #53
Strange. It's almost like the metadata endpoint isn't working. I should cache the keys anyway, but it should respond at all times. I have an instance running in Azure too. I'll take a look and see if I see anything.

[2015-09-01 06:49] omerlh commented on #53
Now you mention it, there was issues with this endpoint. I saw some timedout exception in the logs....

[2015-10-07 22:39] sedouard opened #61 "Scope seperator undefined."
The scope seperator is undefined if you add for example a scope array in passport.use like below:

{
    callbackURL: nconf.get('returnURL'),
    realm: nconf.get('realm'),
    clientID: nconf.get('clientID'),
    clientSecret: nconf.get('clientSecret'),
    identityMetadata: nconf.get('identityMetadata'),
    responseType: nconf.get('responseType'),
    responseMode: nconf.get('responseMode'),

[2015-10-15 19:26] jeffwilcox opened #67 "Possible typo in OIDCStrategy.js"
Running into a few potential issues in OIDCStrategy.js... updating as I find others.

# Part 1

In this line:
https://github.com/AzureAD/passport-azure-ad/blob/master/lib/passport-azure-ad/oidcstrategy.js#L487

There is this code:

[code]

Is params a copy/paste error, or is it supposed to empty it out as soon as retrieving, or ... ? I wasn't sure which to do here or else I would have opened a PR

[2015-10-15 21:01] jeffwilcox opened #69 "package.json uses out of date licenses array"
Minor! The `licenses` part of package.json should become `license`.

https://github.com/AzureAD/passport-azure-ad/blob/master/package.json

https://docs.npmjs.com/files/package.json

[2015-10-17 09:10] fredrikj opened #70 "this.certs is undefined"
I recently tried the example `passport-azure-ad/examples/login-saml` but stumbled on the fact that some certs was undefined in the code. Looking into the code and making below change seems to work, though.

[code]

[2015-10-19 21:18] jeffwilcox opened #71 "Cryptic error message when the client ID is null/undefined"
Hi,
Might be useful to actively protect against a null or undefined/empty client ID when using the module.

This is the cryptic error I get when I set client ID to the empty string, for example...

[code]

[2015-10-19 22:52] jeffwilcox opened #72 "Bunyan is quite chatty, offer a silence feature"
I have not used Bunyan in the past, but since integrating this great library into my app for AAD auth, I've been inundated with the debug output it creates.

Ideally a configuration option to "silence" the Bunyan output would be nice, or a different logging system which would be a little less chatty for those using this in their apps.

[2015-10-21 17:08] brandwe commented on #72
Reading up I've noticed you can launch it only for warn like:

`$ node hi.js | bunyan -l warn`

That should reduce the verboseness substantially. Sadly if you don't use bunyan pipe  at all you get the full dump in json to the terminal. I think the best approach is to change this to write to a log instead of stdout.

[code]

Which will be my next approach if I don't find a better logger.

[2015-10-21 17:29] jeffwilcox commented on #72
Got it. Well, if that's a potential way to make it work, a way to pass in a log location (or log configuration) in the strategy options would be great. That way I could just log to `/dev/null`... and with `error` level at least tokens and other critical data would not be located in the logs.

[2015-10-23 19:01] alpeshgaglani opened #73 "passReqToCallback with OIDCStrategy"
Hi,
I am trying to follow the examples and use OIDCStrategy to integrate with AzureAD. If I follow the examples, as is, things work just fine. However, when I specify the passReqCallback = true, I don't get my request passed back.
Here's my OIDCStrategy code:
(passport.use(new OIDCStrategy({
      callbackURL: config.azureadCreds.callbackURL,
      realm: config.azureadCreds.realm,
      clientID:

[2015-10-24 21:31] alpeshgaglani opened #74 "OIDCStrategy doesnt pass state"
I see that lines 556 and 557 in oidcstrategy.js are commented out - this prevents the state parameter to be passed back to the callback object. Our code-base relies on retrieving this information. Is there a reason for those to be omitted?

[2015-10-30 20:18] jeffwilcox commented on #46
See also: https://github.com/AzureAD/passport-azure-ad/issues/72

[2015-11-06 08:51] TotallyInformation opened #75 "OICDstrategy does not return a bearer token"
Hi, I'm afraid I'm rather a beginner in the world of OAuth programming so please bear with me.

I successfully used this module to connect to Azure AD. However, I don't seem to get back the information needed to then actually USE it?

I am trying to connect to SharePoint Online to pull down the groups used for a specific site: ```_api/web/roleassignments/groups```

But this requires an Authorizati

[2015-11-19 23:36] TotallyInformation commented on #75
This question on Stack seems to point the way to the answer but my detailed knowledge isn't sufficient to work it out - SO frustrating that there is no worked out example of being able to use Node.JS to actually do something via the graph api's that requires user auth.

[2015-11-20 20:01] #61 closed

[2015-11-20 20:02] brandwe commented on #61
Thanks for the report and the fix! :100:

[2015-11-20 20:08] brandwe commented on #75
Hello @TotallyInformation - the sample does show how to get a token and then supply that token to a REST API. However that REST API is also a sample and not the Office graph. I think your question is actually how to query the Office graph with node.js? You may find this helpful: https://github.com/OfficeDev/O365-Nodejs-Microsoft-Graph-Connect

[2015-11-20 20:14] brandwe commented on #70
Thanks for the report! I'll make the fix and then credit you in comments!

[2015-11-20 20:14] #53 closed

[2015-11-20 20:15] brandwe commented on #53
Hopefully this has stopped reproducing. If it hasn't - please open the bug again.

[2015-11-30 19:45] gbockus commented on #74
:+1:   The state param should be supported for all strategies.  Its usage is recommended in the azure OAuth2 best practices: https://msdn.microsoft.com/en-us/library/azure/dn645536.aspx

[2015-12-23 23:58] ryanvog opened #76 "Incorrectly typed module reference hiding actual test failures"
`oidc_tests.js`

`[21] var OidcStrategy = require('../lib/passport-azure-ad/index').OIDCStrategy;`

However, in most of the tests, this is how the object is constructed:
[code]

`OIDCStrategy` is incorrectly cased, resulting in a ReferenceError, which is caught by the assertion and treated as a PASS.

It should be:
[code]
However, constructing a new `OidcStrategy` does not presently invoke the opt

[2015-12-24 17:50] mithun-daa opened #77 "Get "Unable to fetch metadata: Error: unable to verify the first certificate""
I am using `passport-azure-ad` to talk to a local instance of my (Idenity Server)[https://github.com/IdentityServer/IdentityServer3]. Will this module work only with Azure when using the OIDCStrategy?
![image](https://cloud.githubusercontent.com/assets/852171/11996937/878fbc52-aa34-11e5-9abf-1e0c7df70925.png)

[2015-12-24 22:04] ryanvog opened #78 "DEV is not LINT-clean"
Run `grunt` in the root of the repo and you will get several pages of JSHINT errors. The contribution section of the `readme` indicates that contributions should be LINTed.

[2015-12-25 04:46] brandwe commented on #77
Well, i've only tested it with Azure as that's my focus at Microsoft :-) However my code should be generic enough. What I think is happening is it's hitting the metadata endpoint and not finding the cert where it expects. You can easily look at the code (in `metadata.js`) and see where it tries to grab the cert in the `waterfall()` and change the code. Since this only supports Azure we won't take

[2015-12-25 05:27] brandwe commented on #75
Closing for hygiene. If you have more questions open it up again. I'd be interested if you got the Graph API to work.

[2015-12-25 05:27] #75 closed

[2015-12-25 06:38] brandwe commented on #78
Appears that my linter in Sublime Text 3 wasn't running as I needed to configure the PATH (even though it is found in my terminal's PATH). I finally sees these now and will get to fixing some of them. line breaks, etc. I'm not going to mess with.

[2015-12-25 08:18] brandwe commented on #76
@ryanvog I fixed the casing but can you explain how it doesn't invoke options validation? I do two tests, one without options which fails (which is a PASS) and one which provides options which if is successful is a PASS

[code]

Also keep in mind I have different params for v2 and odic and each should fail on different values that aren't workable.

[2015-12-28 13:56] mithun-daa opened #81 "Possible typo"
The OIDC strategy has either a typo or some issue:
![image](https://cloud.githubusercontent.com/assets/852171/12019640/7340f5e8-ad38-11e5-80e6-e836e5384170.png)

The `tokenURL` property has been set twice.

[2015-12-28 14:37] mithun-daa commented on #77
Turns out that it was because of the self signed cert. As a temporary workaround I set the following env variable:
[code]

That helped me get past that error but I ran into another error way within a dependency:
![image](https://cloud.githubusercontent.com/assets/852171/12020115/1ce6cc76-ad3e-11e5-84c0-b0deb32bdddd.png)

Any ideas? The `waiting` variable is `{}` in `callback_filler.js` file.

[2015-12-28 17:36] brandwe commented on #81
This is already fixed in dev branch. Will be fixed as soon as I push in to master.

[2015-12-28 17:39] brandwe commented on #77
I have never run in to this. Can you maybe try the passport-azure-ad in /dev and see if you still have the issue?

[2015-12-28 17:39] #78 closed

[2015-12-28 17:40] brandwe commented on #76
Fixed

[2015-12-28 17:40] #76 closed

[2015-12-28 17:40] #81 closed

[2015-12-28 18:05] ryanvog commented on #76
Thanks for looking into this @brandwe.  WRT the options validation, there are two areas options appear to be validated.  Some options are validated in the constructor function for OIDCStrategy, and others are validated during the call to setOptions(), as a result of a call to `authenticate`.  You have tests that validate both, but in the latter case, since `setOptions` isn't being invoked, there i

[2015-12-28 19:22] brandwe commented on #74
I could have sworn I stopped this for a reason, something about the state breaking B2C flows - but if it should be there for B2B scenarios I can do a conditional. I'll do some testing and see if it works.

[2015-12-28 19:31] brandwe commented on #74
Yes, looking at code in dev branch it says:

     // var state = utils.uid(16); no longer used in OpenID Connect flows. I'll try to get info on this from the team on the current best practices.

[2015-12-29 01:20] brandwe commented on #74
Looking at this, it appears we now pass as `nonce` and not `state`. So you'll only get back the nonce from the server.

[2015-12-29 01:23] brandwe commented on #67
Already fixed in /dev branch.

[2015-12-29 01:23] #67 closed

[2015-12-29 01:30] brandwe commented on #73
Fixed in #82

[2015-12-29 01:30] #73 closed

[2015-12-29 01:30] brandwe commented on #74
Fixed in #82. Will most likely undo though.

[2015-12-29 01:30] #74 closed

[2015-12-29 01:31] brandwe commented on #72
Fixed in #82.

[2015-12-29 01:31] brandwe commented on #69
Fixed in #82

[2015-12-29 01:31] #69 closed

[2015-12-29 01:32] brandwe commented on #46
Fixed in #82

[2015-12-29 01:32] #46 closed

[2015-12-29 01:37] #72 closed

[2015-12-29 01:38] brandwe opened #83 "Switch passport-azure-ad to use adal-node for OAuth"
The big banana

[2015-12-29 01:58] brandwe commented on #71
This is damn strange. I wrote a validator class to do this ahead of time. I assume it's being used before that time. I'll fix.

[2015-12-30 19:43] mithun-daa commented on #77
Looks like switching the branch helped. Now the OIDC Provider redirects back to my callback but the `verify` callback or the serializer/deserialzer never get called.

[2015-12-30 20:45] mithun-daa commented on #77
Never mind - as soon as I set `skipUserProfile` to true it started working. Thanks a bunch for you prompt responses.

[2016-01-05 19:21] jeffwilcox commented on #46
Thank you - excited to check this out!

[2016-01-06 14:47] akanieski opened #86 "Array type attributes not being loaded into profile as array"
When attempting to add `Token Group - Qualified by Domain Name` to my set of claims, they were not being loaded into the profile properly. The logic was only taking the first element. I imagine this was because all the attributes come over in an array format. But sometimes you really want the complete array.

[2016-01-06 14:48] akanieski commented on #86
https://github.com/AzureAD/passport-azure-ad/pull/85

I added logic to check if the attribute value is an array with lenght > 1. If so then take the value as it is, in array format.

[2016-02-15 18:41] nzpcmad opened #88 "Issues with Express 4"
Are there any plans to upgrade the sample to Express 4?

app.configure is no longer supported.

[2016-03-17 17:59] amit777 opened #89 "successRedirect and failureRedirect incorrectly appended to redirect_uri"
when you use something like this:

[code]
[code]
The issue occurs in passport-azure-oauth/lib/passport-azure-oauth/strategy.js

Strategy.prototype.authorizationParamsForUrl()  should at least exclude successRedirect and failureRedirect.  In fact, I'm not sure exactly why this extra function call is needed at all to append extra parameters. if a redirectURL parameter is set, I feel like it should b

[2016-03-17 18:04] amit777 commented on #89
wow.. really stupid of me. this is the wrong repo for this bug report.

[2016-03-17 18:04] #89 closed

[2016-03-18 13:30] AlexandrTuniev opened #90 "Cannot read property 'keys' of undefined"
Hey
We have a node js server, that running using your library for authentication.
There is a exception thrown from it.
[code]
Or some times it rejects valid json token, and messages, "An error was received validating the token secret or public key must be provided". I think it happens because at the time when token comes for validation the public key hasn't downloaded yet. For reproduce this issue

[2016-03-21 10:17] AlexandrTuniev commented on #90
After some investigation found that issue connected with this,
[code]
 jwtVerify function doesn't wait for metadata.fetch method's successful completion.

[2016-03-23 15:31] julianfrank opened #91 "TypeError: this.fail is not a function"
I'm having a NodeJS App and am using your module to integrate authentication with azure AD...Everything is cozy with 'assigned' users.

I get this error whenever I try to login into my app with an 'Un-Assigned User' ...As per Passport documentation this should route the page back to login page but in my app this error is thrown and the application exits!...Could you please suggest how I should wor

[2016-04-14 20:31] brandwe commented on #90
Strange. This can be fixed with a waterfall and I thought I'd had done so. I'll look in to this now and get a fix in by EOW.

[2016-04-14 20:36] brandwe commented on #91
Ahh so the problem is I don't have a failure case that does the right thing I believe. I can work on this and have a fix by EOW. Thanks for the issue!

[2016-04-14 20:38] #86 closed

[2016-04-17 18:18] brandwe opened #97 "B2C Claims (Like Email) Not Working"
It appears that B2C changed how claims are delivered and the passport plug-in is not finding them in B2C flows.

[code]

[2016-04-17 18:59] brandwe commented on #97
B2C server team made emails an array and didn't tell me. Thanks Obama.

[2016-04-17 20:14] #97 closed

[2016-04-29 10:13] benkroeger opened #101 "use eslint over jshint"
looks like there is some static code analysis in place. however, several code styles can not be enforced with jshint.
I suggest to move the project to using eslint with a well-known configuration (e.g. [eslint-config-airbnb-base](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb-base)).

[2016-05-02 12:21] benkroeger opened #102 "split dev-dependencies from dependencies"
up to release 1.4.4, all dependencies (including dev dependencies) are listed under "dependencies" in `package.json`. Intention is to separate dev-dependencies so that modules like `grunt-*` are not required in production

[2016-05-03 14:10] benkroeger opened #103 "use url.parse and url.format over string concatenation"
several code sections use custom logic to detect weather a url is valid and also to append a query string with well-known issues around selecting `&` or `?`.
Please use node core library `url` to handle these cases

[2016-05-03 14:12] benkroeger opened #104 "provide more detailed error message on OIDC failure"
Azure AD provides quite a lot of information when the OAuth dance fails. Several error properties are provided as `error_*` prefixed query parameter in the callback redirect.
Unfortunately, the OidcStrategy only provides the `error` parameter back to passport

[2016-05-03 15:52] benkroeger opened #106 "use proper XML library"
there are fixed XML DOM navigations in this code that might break if child-nodes come in a different order.
There are libraries that support XML Parsing / Stringify along with proper XPath selectors that should make your life much easier. Take a look at [oniyi-utils-xml](https://www.npmjs.com/package/oniyi-utils-xml) which is, I have to admit, badly documented - but does everything this module nee

[2016-05-04 08:11] benkroeger opened #107 "remove bunyan dependency"
bunyan is a logger that should only be used in the main application. Besides, all the debug statements are sent to bunyan's `info` level.
Following the [12factor recommendation on logs](http://12factor.net/logs), you should send debug statements directly to `stdout` or `stderr` and let the main application handle output channeling (file, database, alerts, notifications etc) itself.

[2016-05-04 08:13] benkroeger opened #108 "remove travis ci tests for Node < 4.0.1"
According to `package.json`, only engines `>=4.0.1` are supported. No need to run ci checks on earlier versions

[2016-05-13 02:56] julianfrank commented on #91
Just came across this just now...Looks like its not implemented in the current update yet...

[2016-05-27 22:32] #101 closed

[2016-05-30 14:18] benkroeger commented on #108
#105 fixes this

[2016-05-30 14:18] #108 closed

[2016-05-30 14:18] benkroeger commented on #102
#105 fixes this

[2016-05-30 14:18] #102 closed

[2016-06-09 19:19] silhouettes opened #111 "Who is responsible for OAuth 'state' persistence and verification?"
Looking through the code and dependencies, I can't find anywhere that the 'state' parameter is being persisted to the session, or verified after it is returned to us in the redirect URL.

Am I right in concluding that it is up to the consumer of this module to handle this? i.e. I need to do the following:

1. Generate state and persist to session
2. Pass the state to this module when the OAuth pro

[2016-06-09 20:13] dhodgin opened #112 "done is not a function. bearerstrategy.js:149"
I'm building a single page app to use AzureAD and i'm using adal-angular client side with passport-azure-ad server side

When I try to use the BearerStrategy it fails.

the BearerStrategy wraps the original passport-http-bearer and calls it internally like this
[code]

the jwtVerify function expects 3 arguments (req, token, done)

the req object doesn't get passed in and as a result the token and

[2016-06-09 20:15] dhodgin commented on #112
failure in `exports.rsaPublicKeyPem` in `aadutils.js` is on line 155
[code]

[2016-06-10 01:06] lovemaths opened #113 "fix the example bugs"
There are a couple of issues:
1. the path of the corresponding strategy included is wrong in app.js
2. the config file needs update and correction, for the non-b2c strategies, I think we should use our own tenant, client id and client secret. The default ones won't work due to the following reasons:
(1) client secret provided in config file is invalid, so one cannot use the authorization code at a

[2016-06-10 16:20] dhodgin opened #114 "typo in error message bearerstrategy.js:180"
`throw new TypeError('We did not reveive a token we know how to validate');`

receive

[2016-06-10 16:55] dhodgin commented on #112
found the problem.
`util._extend({}, opts, { passReqToCallback: true })`
util._extend only takes 2 arguments. That means passReqToCallback: true is being dropped everytime if your own options don't set it. The default doesn't apply.

fix is to reduce `util._extend()` to `util._extend(opts, { passReqToCallback: true })` since opts is set to the supplied options or initialized to an empty object at

[2016-06-10 16:56] dhodgin commented on #112
see util source code: ```https://github.com/defunctzombie/node-util/blob/master/util.js#L572``` for confirmation _extend only accepts 2 arguments.

[2016-06-10 17:16] dhodgin opened #117 "TypeError: Invalid hex string in aadutils.js"
When using the BearerStrategy the code fails inside `rsaPublicKeyPem` when trying to generate the pem cert
[code]
seems to happen here:
[code]

[2016-06-10 19:42] dhodgin commented on #117
Found the problem. It's the ES6 template strings spanning multiple lines for both the encodedPubkey and the final pem string. extra spaces are inserted into the pem certificate which then fails to read properly

The invalid hex string error is caused by encoded Pubkey having whitespace.

Once that's fixed you get `Error: PEM_read_bio_PUBKEY failed` from Verify.verify in crypto.js in node

Logging

[2016-06-10 20:15] #117 closed

[2016-06-10 20:16] #114 closed

[2016-06-10 20:17] #112 closed

[2016-06-10 20:20] brandwe commented on #113
Yes the values in the config aren't useable. We assume the developer will do this and the config is an example. We  can replace with <insert here> values.

[2016-06-10 20:23] brandwe opened #119 "Remove example"
Example is old and not maintained. Should either fix or remove. Our other libs do not have samples in SDK, just tests.

[2016-06-10 22:08] lovemaths commented on #119
We should at least have a branch keeping (and fixing) these examples for our development testing purposes. Here we have 6 examples for different strategies, but azure sample website just has 1 example, which is for OIDC strategy.

[2016-06-13 14:58] percenuage opened #121 "Error with regex into pem.js"
I've an error into _pem.js_ when I run  my application with passport. I read your file and I notice you added some regex verification (certificate and private key). :

The function `getFirstCapturingGroup(str, regex)` return null. In fact, `if (!Array.isArray(matches) || matches.length !== 1)` is true because the matches is an array with length of 2.

I try the same code with your previous version

[2016-06-13 15:56] dhodgin commented on #119
I've been working with AzureAD and learning how to integrate it into a MEAN stack application. I've found that all of the different examples out there are both outdated and more importantly not very well documented. Especially the different config options that the libraries use. Sometimes tenant is tenantId, sometimes its realm, sometimes its audience. some options are just flat out never explaine

[2016-06-14 16:58] dhodgin opened #123 "Question: What is the difference between OIDCStrategy and BearerStrategy. Which one should I use?"
The documentation could use some beefing up to explain the differences on the core readme file to explain what you get back in each authenticate callback for the 2 strategies and which use cases they should be used for.

I managed to make a sandbox app using the BearerStrategy but i haven't gotten the OIDCStrategy working in any way yet. I wanted to try to swap out the strategy in my sandbox app o

[2016-06-14 18:49] dhodgin commented on #123
I did find this great starting point that @brandwe already wrote a few months ago.

http://cudou.com/pages/dggfdibc-passport-azure-ad-which-strategy-to-use.html

You could expand on that and it would be very helpful to users who want to make use of this library.
(I would define IdP and MEAN and perhaps elaborate a bit on how angular is doing the openID Connect part for you and how that means the s

[2016-06-15 16:17] nicoschmitt opened #125 ""done is not a function" migrating from 1.x to 2.0 using adal angular"
I'm using adal angular 2.0 experimental.

TypeError: done is not a function
    at Strategy.jwtVerify [as _verify] (C:\Users\nicolass\Documents\GitHub\nicontoso\node_modules\passport-azure-ad\lib\bearerstrategy.js:148:7)
    at Strategy.authenticate (C:\Users\nicolass\Documents\GitHub\nicontoso\node_modules\passport-http-bearer\lib\strategy.js:132:10)
    at attempt (C:\Users\nicolass\Documents\Gi

[2016-06-15 20:22] dhodgin commented on #125
I think this is fixed in next version. I wrote a PR to deal with this. a temp fix is to look at the BearerStrategy.call line in bearerstrategy.js at the util._extend() call. remove the {} first argument because _extend only accepts 2 arguments not 3. so the req object is not passed back to verify which means done is undefined.

[2016-06-15 20:55] brandwe commented on #121
Looks like a regression. I'll take a look.

[2016-06-16 09:29] nicoschmitt commented on #125
ok thanks

[2016-06-16 23:50] lovemaths commented on #121
This is a bug. matches should have length 2 and the getFirstCapturingGroup should return matches[1].  In the getFirstCapturingGroup code, make the following change should make it work:

 if (!Array.isArray(matches) || matches.length !== 1) {  <====  change 1 to 2
    return null;
  }
  return matches[0];   <===== change 0 to 1

[2016-06-20 09:05] AlexandrTuniev commented on #90
Are there any updates on this?

[2016-06-20 16:54] lovemaths commented on #121
Fixed in dev branch.

[2016-06-20 16:54] #121 closed

[2016-06-20 18:35] silhouettes commented on #111
Hi! Just following up on this, in case it has been forgotten. In case it helps, this is a useful resource: https://tools.ietf.org/html/rfc6749#section-10.12.

This is a fairly important security feature, so any investigation you do would be extremely helpful!

[2016-06-28 02:16] dburles opened #133 "Publish TokenValidator as independent module (or export it along with Metadata)"
I'm wanting to make use of the TokenValidator outside of passport (within a Meteor accounts package). It would make sense that this code could be published as an independent module as validating the token signature is a complicated process.

[2016-06-28 09:09] murdockcrc opened #135 "Running examples fails with Cannot find module '../../lib/passport-azure-ad/index'"
Repro steps:

1. Clone the repo
2. Adjust the config.js files with proper value
3. Run the server.js or app.js

I have tried this with _login-oidc_ and _server-oauth2_, they all fail with the same error. Seems like the ```require``` path is wrong?

[2016-06-28 18:34] lovemaths commented on #135
yes the path is wrong, use '../../lib/index' instead

[2016-06-29 08:29] edzis opened #137 "OIDC example fails"
Using the default v2 config on top of #136 I get the following error.

When I use my clientID `c9655d1d-f356-46a7-afe1-431c0d6eeb37` I get runtime error:

[code]

[2016-06-29 08:40] edzis commented on #137
Nothing changes even if I change the signature of the verify function to `function(iss, sub, profile, accessToken, refreshToken, done)` or add `scope: ['email', 'profile']`.

[2016-07-07 02:17] yarandoo opened #141 "Readme example not working with master"
Hi,

I am using master branch (As it has fixes #117 #112), and the readme sample: "OAuth2Bearer Strategy" is not working.

The callback function(Verify) receives only 2 params:  (token, done)

`new BearerStrategy(options, **function(token, done)** {`

When using this code I found out that actually the verify cb function gets called with 3 params (req, token, done) and thus generating and error whe

[2016-07-07 02:28] yarandoo commented on #141
Also it seems that options.passReqToCallback it is always set to true:

in bearerStrategy.js
`BearerStrategy.call(this, util._extend(opts, { passReqToCallback: true }), jwtVerify);`

Making the following conditional not necessary (BearerStrategy Line 177) ?

[code]

[2016-07-07 02:33] yarandoo commented on #141
Also documentation is wrong:

 * Applications must supply a `verify` callback, for which the function
 * signature is:
 *
 *     function(token, done) { ... }
 *

I am happy to create a PR if you think I am correct.

[2016-07-07 20:46] polita opened #142 "Add nightly build and test run to Jenkins server"
Travis CI test runs should augment the nightly build/test run on the Jenkins machine. Please add a nightly build for this repo on the Jenkins machine.

The changes to implement this will go on the Devex-build repo, but I'm opening it here so we can triage it with the rest of the repo issues.

[2016-07-07 21:01] lovemaths commented on #141
@yarandoo  I tried the sample using the master branch passport code, I didn't get the "Done is not a function" error. Is the 'passReqToCallback' set to 'false' in your server_config.js?

There are two 'passReqToCallback' parameters involved in this code, one for the Strategy, one for the BearerStrategy (which Strategy inherits) (Yes, that's confusing...)

In the following code:
line 188:       Bea

[2016-07-13 01:48] yarandoo opened #145 "Question: Is it possible to use my own logging library?"
Currently the only option I see is to specify the logging level, but I dont see any option to provide our own logging function. Would that be possible?

This will allow us to use the same format for all our application logs, and will reuse our log parsing rules, instead of having to create a new one for this specific library.

Thanks!

[2016-07-13 05:28] jeffwilcox commented on #145
+1! See also, https://github.com/AzureAD/passport-azure-ad/issues/107

[2016-07-13 19:24] polita commented on #145
Closing as this is a duplicate of #107.

[2016-07-13 19:24] #145 closed

[2016-07-13 19:29] polita commented on #141
Please reopen if you believe this is still an issue, @yarandoo.

[2016-07-13 19:29] #141 closed

[2016-07-13 19:39] polita commented on #137
@edzis We're having a hard time reproing this issue. Are you using a Microsoft (Hotmail.com, live.com, msn.com, etc.) account or an Azure AD account?

Dev team: We need to load the profile for whatever endpoint is being used here to pass back through Passport.

[2016-07-13 19:43] #125 closed

[2016-07-13 19:44] polita commented on #123
Please update the readme with super duper helpful info.

[2016-07-13 19:45] polita commented on #119
Please remove from the library repo and keep the samples repo copy up to date. Please also update readme to have a link to the samples.

[2016-07-13 19:47] polita commented on #113
Please open remaining samples issues in the samples repo.

[2016-07-13 19:47] #113 closed

[2016-07-13 19:48] polita commented on #106
Please reopen if this manifests in an actual issue.

[2016-07-13 19:48] #106 closed

[2016-07-13 19:51] polita commented on #103
Please reopen if this manifests in a bug.

[2016-07-13 19:51] #103 closed

[2016-07-13 19:54] polita commented on #88
We are now on Express v4.

[2016-07-13 19:54] #88 closed

[2016-07-13 19:55] polita commented on #83
Meet with Brandon to get this one tied down.

[2016-07-13 19:56] #77 closed

[2016-07-13 19:57] #70 closed

[2016-07-13 19:58] polita commented on #35
Breaking change. Nope.

[2016-07-13 19:58] #35 closed

[2016-07-13 19:59] polita commented on #25
@brandwe Please move this to the samples repo.

[2016-07-13 19:59] #25 closed

[2016-07-13 20:00] polita commented on #17
Please reopen if this is still an issue.

[2016-07-13 20:00] #17 closed

[2016-07-13 20:29] lovemaths opened #146 "potential duplicate use of "new Buffer(*, 'base64')""
Need to investigate

in metadata.js,   function Metadata.prototype.generateOidcPEM
    const modulus = new Buffer(key.n, 'base64');   <=======
    const exponent = new Buffer(key.e, 'base64');  <=======

    pubKey = aadutils.rsaPublicKeyPem(modulus, exponent);  <=== pass to rasPublicKeypem function

in aadutils.js

exports.rsaPublicKeyPem = (modulusB64, exponentB64) => {
  const modulus = new Buf

[2016-07-14 06:00] edzis commented on #137
I have been testing this with my MS account that uses email address from our own domain.

[2016-07-14 16:28] polita commented on #137
@edzis- is this account an AAD account?

[2016-07-14 22:39] edzis commented on #137
No, it was created as a LiveID account.

[2016-07-21 17:29] lovemaths commented on #142
Done.

[2016-07-21 17:29] #142 closed

[2016-07-26 18:12] dstrockis opened #155 "Not listed in passport docs"
http://passportjs.org/docs, Auth0 is listed but not us.

[2016-07-26 18:17] polita commented on #155
Can you add it in this repo?
https://github.com/jaredhanson/passport

[2016-07-27 19:05] kurtb opened #156 "Bearer token and Microsoft graph access"
The Microsoft Graph APIs appear to want you to set a 'resource' field when exchanging a code for an authorization token. https://graph.microsoft.io/en-us/docs/authorization/app_authorization.

The passport library does return the access token but without setting the resource field it doesn't have permissions to the graph API. Also the scope parameter doesn't seem to affect being able to get these

[2016-07-28 18:10] brandwe opened #157 "Robustness work for OIDCStrategy"
The id_token should be verified before the profile is loaded and handed back to the developer.

[2016-07-29 08:49] dennisx5 commented on #157
I suppose the failureRedirect should be used as to route to, when id_token is not present or validated to false. Currently at my returnUrl I only receive the errormessage "Error: ID Token not present in response" and can't navigate back to my app.

[2016-07-29 14:53] jeffwilcox commented on #157
@dennisx5 thank you - I've been seeing that specific error message for a while and super confused when that has showed up in logs or error reports.

[2016-08-03 20:48] seanhig opened #159 "WsFedSaml.js hangs fetching signature using Xpath.js (on macOS)"
Since upgrading to 2.0, my WSFED based AzureAD authentication kept hanging, and I traced it down to the double quotes at the end of this line:

const xpathExpression = '/*/*[local-name(.)="Signature" and namespace-uri(.)="http://www.w3.org/2000/09/xmldsig#""]';

(line 67: https://github.com/AzureAD/passport-azure-ad/blob/master/lib/wsfedsaml.js)

Note the two double quotes at the end of the expres

[2016-08-04 00:46] lovemaths commented on #137
@edzis I am assuming you are using the login-oidc example, with the client_config_v2 config file. Please let me know if the following can solve your issue:

1. in order to use v2 endpoint, the app must be registered at: https://apps.dev.microsoft.com
from there you will can get application id, create application secret (be sure to save it somewhere), and make sure in the 'platform' section, choose

[2016-08-04 13:46] edzis commented on #137
@lovemaths this works for me, thanks.
Is there a reason why these changes are not applied already in the code? Is there another usecase that the default configuration covers?

[2016-08-05 17:28] justaniles opened #160 ""Invalid signature" error resulting from always selecting first jwks_uri key"
Commit #139 seems to have fixed a critical error that my team at Microsoft encountered yesterday.

AAD recently rolled out a new common key that resulted in two keys being returned for their [jwks_uri](https://login.microsoftonline.com/common/discovery/keys), instead of one. This raised a rather insidious error for us as we tried to track down why the rolling of AAD's new key caused our authentica

[2016-08-07 23:38] adaur commented on #141
Hi there,

I've had the same problem, and I strongly believe this is still an issue.

My passReqToCallback from server_config.js was set to false, but obviously the

`BearerStrategy.call(this, util._extend(opts, { passReqToCallback: true }), jwtVerify);`

made it useless.

I got rid of the "Done is not a function" changing

[code]

to

[code]

after having applied the code provided in #112 and #11

[2016-08-08 18:16] lovemaths commented on #137
@edzis The example needs more details on the instructions.
(1) The "scope: config.creds.scope" line should be always added to your app.js.
(2) passport uses 'openid' as the scope by default, if you need more permissions, then you need to uncomment the 'scope' in config.js and add the additional permissions into 'scope', for example, 'email', 'profile' etc. There is no need to add 'openid' since pa

[2016-08-10 16:47] brentschmaltz opened #163 "Comment when 'options.validateIssuer' is false / null is not correct"
The comment (see below) suggests that issuer need not be validated when multiple idp's are used. This isn't true, we need work to support multiple idp's. That is a separate issue. For now, change the sentence "This is fine ..." to "Production environments should always validate the issuer. For multiple issuers custom code will be required."

// warn about validating the issuer
  if (!options.valid

[2016-08-10 17:05] brentschmaltz opened #164 "By default redirect URL should be https."
https://github.com/AzureAD/passport-azure-ad/pull/162/files#diff-dac9acad3c0a1da97f74286ae8c79470L154

Allows http by default. We should fault on http and require a switch on options to be set.

[2016-08-10 17:10] brentschmaltz opened #165 "validationConfiguration.callbackUrl should be named redirectUrl"
the name callbackUrl is not in the spec and conflicts with other libraries (wilson, asp.net).

see: http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest

[2016-08-10 18:27] brentschmaltz opened #166 "capture 'error_uri' from authentication responses"
Spec defines three parts to an error response:
http://openid.net/specs/openid-connect-core-1_0.html#AuthError

Capture "error_uri'

[2016-08-11 18:21] jeffwilcox commented on #164
Thanks. Happy to validate this one once a fix is available; we have deployed dev-test-prod that are all sitting behind SSL terminated app service instances, but for local dev we have a debug flag to allow debugging using HTTP + port 3000.

[2016-08-11 18:32] #157 closed

[2016-08-11 20:16] kayjtea opened #167 "BearerStrategy initialization is asynchronous"
When initializing metadata from URL, initialization is asynchronous. This leads to the server listening for HTTP requests before passport is fully ready to be used. In a situation where instances are spun up as needed, this leads to some web requests failing. Initialization should probably take a done callback as well as an error callback. Or maybe initialization should be synchronous. Have any of

[2016-08-11 20:19] kayjtea commented on #167
Oops I see the callback is passed err === null on success.

[2016-08-11 20:23] kayjtea commented on #167
But callback isn't exposed by Strategy initialization.

[2016-08-12 17:10] lovemaths commented on #167
@kayjtea This is issue #90 , we already fixed this problem in dev branch and we will put the fix into the next release. Thanks.

[2016-08-13 02:09] lovemaths commented on #156
@kurtb Now access_token is only used for userinfo endpoint. We won't support it in the upcoming release. It is a good thing to have, we might decide to add it in the future. Thank you for bringing it up!

[2016-08-13 02:09] #156 closed

[2016-08-16 04:35] richardspence opened #168 "The latest NPM module has spacing problems around certificates"
Install the latest
    npm install passport-azure-ad --save

In AADUtil.js the spacing is:
[code]
In master it is
[code]

The npm package has invalid spacing, since it will encode the tabs and extra linebreaks.  Can you publish a new NPM package?

[2016-08-16 19:29] brentschmaltz opened #170 "OIDC response types checks should be order independent"
`when checking for supported response types we should account for order independence.
e.g. "id_token code" == "code id_token"

[2016-08-16 20:21] tushargupta51 opened #171 "Multiple nonce and state handling"
Currently, we only save one value of nonce and state. This will not work in cases when user has multiple tabs open. Consider the scenario:

User opens the app in tab 1, clicks on login, gets redirected to AAD => this will set the session nonce
User open the app in tab 2, clicks on login, gets redirected to AAD => this will overwrite the nonce set int the step above
User logs in tab 1, the nonce va

[2016-08-19 16:48] brentschmaltz opened #172 "ResponseMode should be optional in OIDC requests"
https://github.com/AzureAD/passport-azure-ad/blob/master/lib/validator.js#L70
This code requires a responseMode, but responseMode is optional. It is not recommended to send it when it equals the default.

http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

[2016-08-22 18:43] dhodgin commented on #160
hitting the same issue today. all of a sudden using BearerStrategy I get
[code]
i get `Invalid token (invalid signature)` client side after successfully authenticating. I'm pretty sure it has to do with the emails i've been getting from Azure about:
[code]
I have no idea what a signing key is. I just assumed it didn't affect me since we just use the clientId and tenant to authenticate and don't is

[2016-08-22 18:58] lovemaths commented on #160
@dhodgin Are you using the BearerStrategy in the dev branch? I think we fixed this problem in the dev branch already.

[2016-08-22 19:36] dhodgin commented on #160
I was using a commit from my own fork that had fixes for BearerStrategy that weren't merged at the time.

my version doesn't work
version 2.0.0 from npm install of the latest doesn't work either
and the latest commit from dev branch crashes our server as soon as i start it with `done is not a function` errors which was the errors I had fixed a few months ago that were merged into master but never

[2016-08-22 20:52] lovemaths commented on #160
@dhodgin The problem might be the bug in Metadata.prototype.generateOidcPEM in metadata.js, where passport always chose the first key. We fixed the problem in dev as well.

In line 186 of metadata.js
(https://github.com/AzureAD/passport-azure-ad/blob/master/lib/metadata.js)

185    // are we working on the right key?
186    if (!key.kid === kid) {
187      return false;
188    }

change line 186 t

[2016-08-22 21:25] lovemaths commented on #160
@dhodgin Please consider downloading the whole library from github and use the complete dev branch. We completely rewrote the BearerStrategy.js and fixed a bunch of bugs in dev branch, we tested it with samples as well. As long as the verify function matches the passReqToCallback in your config file, it should work well.

[2016-08-22 22:06] dhodgin commented on #160
Ok do you think you will be blowing away the master branch woth dev when the time comes for a future release? I have 3 patches in master that are not in dev and the dev branch does not work at all with the BearerStrategy in it's current state. as soon as you try to use it you get done is not a function as a result of the passReqToCallback. i can resubmit those patches to dev but i don't know how y

[2016-08-22 22:22] dhodgin commented on #160
your comment
[code]
fixes the problem and i can login now. my version of the code had `!key.kid === kid`.

so it seems to work with that fix

should i open another issue to look into how to get my other 3 patches into dev? it's off topic for this issue but we should solve those problems

[2016-08-22 22:50] dhodgin commented on #160
it looks like the dev branch works but you have to now pass `passReqToCallback : true` when setting up the passport.use call for the AD BearerStrategy. passReqToCallback used to be hardcoded to true before it was re-written. is this intended? should a bug be filed for this?

[2016-08-22 23:23] lovemaths commented on #160
@dhodgin We already have the fix of your aadutils.js PR, and we will have the PR regarding the typo in soon. The bearerStrategy PR regarding _.extend is no longer applicable since now we have a different implementation in dev.

I didn't realize the default passReqToCallback is true for bearerStrategy, will fix it soon. Thank you.

[2016-08-23 09:31] danielgranat opened #174 "Profile name attributes are undefined"
This is probably not the right place for this since it looks like the server side thing.
When getting the profile back i get the following:
[code]
The raw response contains only ```"name":"Daniel Granatshtein"```

Looking at the function makeProfileObject in oidcstrategy.js:
[code]
This is confusing, and requires me to break it down myself (unless i missed anything).

IMHO Ideally the names should

[2016-08-23 13:33] francescoinfante opened #175 "Select user instead of automatic redirect on authenticate"
I'm testing this sample of the OIDC strategy:
https://github.com/Azure-Samples/active-directory-node-webapp-openidconnect

The problem that I have occurs when I login, logout and login again.
The second time I login it doesn't prompt me with a "select user" page but it immediately redirects me to `callbackURL`.

Basically I'm never able to change the user that login in the application for the firs

[2016-08-23 14:29] dhodgin commented on #160
Thanks @lovemaths. I don't know if the default for passReqToCallback is supposed to be true. I only meant i used to be `true` passed to the passport BearerStrategy in the .call before the rewrite and was hardcoded. now, by not hardcoding it users will get a done is not a function error until they add `passReqToCallback: true` when using the strategy.

[2016-08-24 21:00] lovemaths commented on #146
done

[2016-08-24 21:00] #146 closed

[2016-08-24 21:00] lovemaths commented on #91
done

[2016-08-24 21:00] #91 closed

[2016-08-24 21:01] lovemaths commented on #90
done

[2016-08-24 21:01] #90 closed

[2016-08-24 21:01] lovemaths commented on #71
done

[2016-08-24 21:01] #71 closed

[2016-08-24 21:01] lovemaths commented on #111
done

[2016-08-24 21:01] #111 closed

[2016-08-24 21:02] #135 closed

[2016-08-24 23:28] lovemaths commented on #175
@francescoinfante change line 187 - 190 to:

app.get('/logout', function (req, res) {
  req.session.destroy(function(err) {
    req.logOut();
    res.redirect('https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http://localhost:3000');
  });
});

The reason is that you still have a session with AAD, you need the additional code to destroy the session.

[2016-08-25 21:49] #175 closed

[2016-08-25 22:33] lovemaths commented on #174
@danielgranat We only collect the data in userinfo/id_token received from AAD, and pass them back to developers. We won't make any changes on the data itself, it is up to the user to decide how to interpret and use these data. Please consider adding custom code to fit your need. Thanks.

[2016-08-25 22:33] #174 closed

[2016-08-25 22:37] lovemaths commented on #170
Have it in the new releases, closing the issue.

[2016-08-25 22:37] #170 closed

[2016-08-25 22:38] lovemaths commented on #168
@richardspence We published a new npm package yesterday, please check it out.

[2016-08-25 22:38] #168 closed

[2016-08-25 22:39] lovemaths commented on #167
Shipped the fix in the most recent release (v2.0.1), closing the issue.

[2016-08-25 22:39] #167 closed

[2016-08-25 22:46] lovemaths commented on #160
@dhodgin We will put your typo PR in the next release, thanks.

[2016-08-25 22:46] #160 closed

[2016-08-26 12:10] alexkolson opened #183 "Is 2.0.1 simply a fix for the security vulnerability?"
First off, thanks for fixing the vulnerability and getting a timely release out which is not an easy thing to do.

I'm just a consumer of the module and not familiar with the codebase, but It seems like upgrading from version 2.0.0 to 2.0.1 has introduced quite a few other unrelated potentially-breaking changes in addition to fixing the `validateIssuer` bug. Would it be possible to get a release t

[2016-08-26 16:30] rpalanki commented on #183
With the proposed fix, I could authenticate at the azure portal. But some how i am getting 401 when passport tries to validate the ```code``` with very limited info. Any idea?

[2016-08-26 18:26] polita commented on #183
@alexkolson The security issue required the full set of changes to the code. We did a security review on the code while we were fixing the issue and changed additional code to protect against potential, but not demonstrated attacks by beefing up id_token validation. Can you tell me more about the breaking changes you're seeing?

[2016-08-26 18:27] polita commented on #183
@rpalanki Please check that you're not going against the common endpoint without setting validateIssuer to false. If you're still seeing 401s, please tell us a little more about your config so we can look into it.

[2016-08-26 18:29] rpalanki commented on #183
After debugging the oidc strategy and stateHandler,  looks like the following check is my problem

StateHandler:26

  if (!req.session) {
    return {valid: false, errorMessage: 'OIDC strategy requires session support. Did you forget to use session middleware such as express-session?'};
  }

I have configured my passport with session: false? is that not supported?

[2016-08-26 20:02] alexkolson commented on #183
I'm seeing similar behavior (requires session middleware) and without
chainring anything I upgraded and now it's complaining about not being able
to read the metadata property on "self" which is now undefined apparently.
When I'm at my computer again I'll post more exact details. Again, it could
be just something on my end but the errors I'm seeing appear (at least to
me) to be unrelated to the bu

[2016-08-26 23:05] lovemaths commented on #183
@alexkolson @rpalanki

(1) People normally use both passport and session middleware. The reason is that: without session middleware, or {session: false} is set for `authenticate` function, user has to provide their credentials for each http request accessing an uri protected by passport. This is the general behavior of using passport framework.

Strictly speaking, session middleware is not require

[2016-08-29 20:13] lovemaths commented on #183
@alexkolson @rpalanki Closing the issue now, please let me know if this doesn't work for you, if so we will reopen this issue, thanks.

[2016-08-29 20:13] #183 closed

[2016-08-30 23:20] brandwe opened #185 "Bug: in BearerStrategy: policyName is not pulled from options"
`        // use the policy name as the metadata cache key
        cacheKey = 'policy: ' + policyName;`

This fails. Should:

-  use the policyName in options.

[2016-09-01 18:30] brandwe opened #187 "p parameter is not being passed in each flow through the passport.js library"
As hinted at by the developer in this code comment: https://github.com/AzureAD/passport-azure-ad/blob/master/lib/oidcstrategy.js#L1135, we have to pass the p parameter in each flow so that the right code (https://github.com/AzureAD/passport-azure-ad/blob/master/lib/oidcstrategy.js#L375) gets invoked at every auth flow. Right now it is not being passed after the first call to the library and so the

[2016-09-01 20:09] polita opened #188 "Mocha tests for B2C to prevent regressions"

[2016-09-01 20:18] polita commented on #172
ResponseMode should support a 'default' or 'not set' value, which specifies that the responseMode shouldn't be sent and the app's registered responseMode is used.

[2016-09-01 20:36] polita commented on #171
Handling multiple nonce/state pairs means we can't remove them from session automatically, so we'll need an expiration policy and cleanup process to remove old nonce/state pairs from the session.

[2016-09-01 20:39] polita commented on #165
This will be a breaking change.

[2016-09-01 20:41] polita commented on #164
Need an option to specify allowing http redirectUri

[2016-09-01 20:43] polita commented on #163
Already fixed.

[2016-09-01 20:43] #163 closed

[2016-09-01 20:44] polita opened #189 "Extensibility to allow issuer validation when going against common md endpoint"

[2016-09-01 20:46] polita commented on #159
Fixed in 2.0.1.

[2016-09-01 20:46] #159 closed

[2016-09-01 20:50] polita commented on #133
TokenValidator was dead code and has been removed. We don't plan on publishing token validation as a separate library.

[2016-09-01 20:50] #133 closed

[2016-09-01 20:55] polita commented on #34
Azure AD always includes the kid.

[2016-09-01 20:55] #34 closed

[2016-09-02 07:18] lovemaths commented on #187
This is not the cause. I debugged the oidc b2c sample for the implicit flow, we indeed have the 'p' in the 302 response. The req.query itself has 'p' parameter so we don't add one (https://github.com/AzureAD/passport-azure-ad/blob/master/lib/oidcstrategy.js#L1151) .

[code]
My experiments shows the kid in metadata with 'p' is the same regardless of the policy,  but it is different from the kid in

[2016-09-02 07:23] lovemaths commented on #187
It seems the 'acr' in id_token payload is the policy name.

[2016-09-02 20:19] tushargupta51 commented on #171
@polita Correct. In Wilson, we have default nonce lifetime of 60 minutes. It's configurable.

[2016-09-08 15:13] brentschmaltz opened #194 "Error message for 'sub' mismatch is incorrect after redeeming 'code'"
When the 'sub' doesn't match the error message reports the 'iss' claim is mismatched.

if (subFromPrevIdToken && subFromPrevIdToken !== jwtClaims.sub)
            return self.fail('After redeeming the code, iss in id_token from authorize_endpoint does not match iss in id_token from token_endpoint');

[2016-09-08 16:11] brentschmaltz opened #195 "Remove default query support for access_tokens in bearerstrategy"
https://tools.ietf.org/html/rfc6750#section-5.3 calls out not to use query unless absolutely necessary. Query parameters are commonly logged and maintained in browser history.

[2016-09-08 16:30] davidrapin opened #196 "Allow setting a custom logger"
We have a custom logger and don't want this library to write to stdout by itself.

For know, this is how we overwrite the default bunyan logger:

[code]

It seems to be working but we'd prefer to have a `OIDCStrategy` constructor option to do that.

[2016-09-09 23:58] polita opened #201 "Update sample to use 2.0.1+"
Please update the package.json and test with the active-directory-node-webapp-openidconnect sample.

[2016-09-12 20:35] #185 closed

[2016-09-14 20:48] polita opened #213 "Update telemetry to use package name and version"

[2016-09-15 00:04] SamKosky opened #215 "Unable to Authorize token for B2C Web API - Token is not Found"
Let me start off by saying that the overall concept of Azure AD B2C is great! However, I have been struggling to Authorize a bearer token for several days. One big issue is inconsistent and/or poor documentation. Even the standard B2C Nodejs web api app won't work due to conflicting configuration settings (identityMetadata set to common and validateIssuer = true). There are many other issues with

[2016-09-15 06:23] lovemaths commented on #215
@SamKosky Could you please try the latest version 2.0.3 and let me know if it works? The old version of B2C bearerStrategy contains a bug (wrong public key is loaded).  I don't see anything wrong in your code, I guess it is caused by the bug in the old version.

[2016-09-15 06:55] SamKosky commented on #215
I was really hoping that would fix it, but still have the same issue. These are my dependencies:
[code]

And this is what gets logged to the console:
[code]
Not sure whether the User Info endpoint is an issue or not, but i'm assuming this is undefined as we are supposed to use the Graph API to retrieve this sort of info.

[2016-09-15 18:34] lovemaths commented on #215
@SamKosky All these logs are correct behavior since we load all the information in metadata first. It seems after loading the metadata, passport failed to find the token in header. Did you use 'Bearer' (not 'bearer') in your header? The authorization field in header should be like:

[code]

[2016-09-15 23:42] SamKosky commented on #215
Wow. So I'm going to say I made a rookie mistake and used 'bearer' instead of 'Bearer' in Postman. It's always something so trivial!

Thanks so much for your help!

[2016-09-15 23:42] #215 closed

[2016-09-23 22:44] polita commented on #213
Fixed with #206 and #205

[2016-09-23 22:44] #213 closed

[2016-09-24 22:52] tejak1 opened #218 "Missing email claim for B2C"
There is no way to mention the name of a custom sign-in policy name in the '/examples/login-oidc-b2c/client_config_b2c.js' file, unlike the examples/server-oauth2-b2c/server_config.js file (policyName). I am unable to get proper claims post sign-in (especially email) for my Node app with the current configuration scope.

[2016-09-25 06:09] tejak1 commented on #187
Has this issue been resolved? If yes, please point me to the solution.

[2016-09-26 08:31] SteenMolberg opened #219 "B2C sample breaks with 2.0.3"
Hi,

I have based a new projekt on the principles from this sample on AzureB2C and Node...
https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS

But after upgrading the passport-azure-ad to 2.0.3 I get this error when redirected after login:
"a key with kid %s cannot be found"

I had to copy the 2.0.0 module from the sample to get it to work again after a lot of debugging and trou

[2016-09-26 13:52] GreenToast commented on #219
+1

My example works with 2.0.0, but ^2.0.1 breaks it. Seems to be something in the token-validation.

[2016-09-26 17:22] lovemaths commented on #219
We are working on the issue and we will release as soon as we can with a fix to B2C. Thanks.

[2016-09-26 17:28] lovemaths commented on #218
Passport has a bug returning the email claim. We are working on the fix and we will release as soon as we can with a fix to B2C. Thanks.

[2016-09-26 18:00] tejak1 commented on #218
Thank you.

[2016-09-26 18:30] lovemaths commented on #218
@tejak1 By the way, OIDC figures out the policy by itself, we don't provide policy names in the config file. User just needs to make sure they add the policy name in the route they want to authenticate, please have a look at the routes in 'views/index.ejs'. I changed the title of this issue to 'missing email claim for B2C'.

[2016-09-26 19:51] tejak1 commented on #218
Yes, I have the policy name updated in the routes. I didn't know if the 'no email' found' error was thrown due to not mentioning the policy name in the configuration file also. Thanks for the clarification.

[2016-09-27 05:15] SteenMolberg commented on #219
That's great to hear. I hope it's not to far away.

[2016-09-28 23:27] lovemaths commented on #104
We capture err_description and put it in log, maybe need to capture err_uri ( #166 ), closing the issue.

[2016-09-28 23:27] #104 closed

[2016-09-29 04:24] lovemaths commented on #166
`error_uri` is optional according to the spec, and AAD only returns `error` and `error_description`, there is no need to capture `error_uri`. Closing the issue.

[2016-09-29 04:24] #166 closed

[2016-09-29 18:17] stevenfollis commented on #75
Ran into this same problem today. The referenced sample ( https://github.com/OfficeDev/O365-Nodejs-Microsoft-Graph-Connect) does not appear to use the `passport-azure-ad` library and instead is using `oauth` + helpers.  Was unable to use OIDC with passport-azure-ad to get a token; would love a sample. Thanks!

[2016-10-05 06:19] starlightyear commented on #219
Waitinggggggggggg

[2016-10-05 07:36] starlightyear commented on #123
Believe that open status indicates more modifications coming up in readme?

[2016-10-05 07:58] starlightyear opened #223 "[B2C] signUp link sometimes signs in automatically"
Hi,
I am a beginner with Azure and OAuth in general.
My signin and signup links are finally working. Suppose I signup for the first time and get logged in.
Now i want to signup again as another user. So when I click on signup, it automatically signs me in as previous user.
Can you tell me what needs to be changed.

Also, during signup, how can I remove the email verification using verification cod

[2016-10-05 20:31] lovemaths commented on #223
@starlightyear

(1)  It seems to me if the browser already has a session with AAD, then AAD won't allow you to sign up. Either you use a different browser to sign up, or you can destroy the session with AAD first by logging out with the following code and then sign up.

[code]

(2)  You can go to the setting of your sign up policy, click 'Edit policy'. On that page, there is an option called 'Page

[2016-10-06 04:55] #223 closed

[2016-10-06 23:51] Huan9 opened #224 "Feature request - OIDC strategy: Enable using customized `state` parameter instead of always generate random string"
User scenario:
1. We are using `state` parameter to store original_url before the redirection started. So once we log in user, we can redirect user back to the url user first type in.
For example:
1. User typed 'https://sonoma.hockeyapp.com/apps/hhtest';
2. Our service found user need to log in and redirect them against AAD to log in using passport OIDC strategy.
3. Once user successful log in and

[2016-10-06 23:51] Huan9 commented on #224
Or if I you can give me permission, I can prepare a PR with above change for you to review and do the fix. Thanks!

[2016-10-07 05:36] lovemaths commented on #224
@Huan9 How about provide the customized state in the `options` of `passport.authenticate`? Will it fit your need?

[code]

Then in oidcStrategy.js, I can do something like the following:
[code]

[2016-10-07 16:03] Huan9 commented on #224
Hey, thank you for the quick replay.
I tried that before I propose the other options, this will not work. When the call hit oidcStragegy.js, the options.state will be null even I set the state value when i do authentication. Btw, I did the same thing for github oauth2, and et the session property is the only way to make it work as well.
Below is my code, as you can see the 2 line that got comment

[2016-10-07 18:48] Huan9 opened #226 "QUESTION: AAD OAuth2 `the v2.0 endpoint` support? So we can use one app to support MSA account(like xxx@live.com) + OrgId account(like xxx@microsoft.com)?"
https://azure.microsoft.com/en-us/documentation/articles/active-directory-appmodel-v2-overview/
=> New OAuth2 V2.0 endpoint has been announced.
1. Do we have AAD OAUTH2 V2.0 endpoint support in OIDCStrategy?
2.If not, what is the plan to support it?
3. If so, any examples? The main problem I have is the `identityMetadata` available online : https://login.microsoftonline.com/common/.well-known/open

[2016-10-07 20:23] lovemaths commented on #226
@Huan9 The identityMetadata for v2 endpoint is like:
https://login.microsoftonline.com/<tenant_name>.onmicrosoft.com/v2.0/.well-known/openid-configuration

or

https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

[2016-10-07 21:38] Huan9 commented on #226
@lovemaths Thank you, that endpoint did work like a charm. Now I have another problem:
I use the `code` to go through the `Authorization Code Flow`. But for some reason I did not get any `access_token` or `refresh_token`, see below pic, any suggestion? Thanks!

![screen shot 2016-10-07 at 2 30 39 pm](https://cloud.githubusercontent.com/assets/14083050/19206150/c0c8de8c-8c9b-11e6-917a-244c731d7d39.

[2016-10-09 03:06] lovemaths commented on #226
@Huan9 in config.js, use `['offline_access', 'https://graph.microsoft.com/mail.read']` as the `scope` value, and in app.js where you initialize the strategy, make sure you have `scope` in the option, for example:

[code]

The scope `offline_access` is used to get refresh_token, and the scope `'https://graph.microsoft.com/mail.read'` is used to get access_token. Hopefully this will work for you.

[2016-10-10 17:40] #137 closed

[2016-10-10 18:36] Huan9 commented on #224
@lovemaths Any updates? We kind like this feature request implemented and get in asap as we plan to use it in our PROD feature that will be shipped within 2 weeks. Thanks!

[2016-10-10 19:37] Huan9 opened #228 "The access_code I get cannot using OIDC strategy seems like is not a valid JWT bearer token, use it to make call to https://graph.windows.net/me?api-version=1.6 or https://management.azure.com/subscriptions?api-version=2015-01-01 does not work"
I am blocked now, any pointers or suggestion will be more than welcomed!
Here is my config and I can get the access_token, refresh_token and id_token.
But when I try to use Acces_code to query aginst the GET https://management.azure.com/subscriptions?api-version=2015-01-01 endpoint, I got error `401 Unauthorized InvalidAuthenticationToken`. The access_token does not look like a JWT Bearer token, I

[2016-10-10 19:56] lovemaths commented on #228
@Huan9 The access_token is for token endpoint only, it is not intended for graph api. When do you need this feature?

[2016-10-10 19:58] lovemaths commented on #224
@Huan9 I will discuss with you via skype.

[2016-10-11 03:50] #228 closed

[2016-10-11 03:51] #226 closed

[2016-10-11 16:38] Huan9 commented on #228
passing below line tot he config fix the issue. resourceURL:'https://management.core.windows.net/'

Thanks!

[2016-10-12 01:13] lovemaths opened #229 "use tenent id dynamically for each request"
allow user to choose the tenant id you want to use for each request

[2016-10-13 18:15] brandwe commented on #75
@stevenfollis Thanks for the feedback. You should ask the maintainer of that repo to use `passport-azure-ad` as they control the dependencies of the sample.

[2016-10-13 22:56] lovemaths commented on #224
Available/Fixed in 3.0.0.

[2016-10-13 22:56] #224 closed

[2016-10-13 23:01] lovemaths commented on #219
@GreenToast  @SteenMolberg  We published a new version 3.0.0 which fixed the B2C issues. It has some small breaking changes, please have a look at the changelog. The B2C sample using 3.0.0 is here: https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS

Thank you for the waiting!

[2016-10-13 23:01] #219 closed

[2016-10-13 23:02] #218 closed

[2016-10-13 23:02] #201 closed

[2016-10-13 23:02] #195 closed

[2016-10-13 23:02] #194 closed

[2016-10-13 23:02] #188 closed

[2016-10-13 23:02] #189 closed

[2016-10-13 23:02] #165 closed

[2016-10-13 23:03] #164 closed

[2016-10-13 23:03] #171 closed

[2016-10-13 23:04] lovemaths commented on #187
@tejak1 We fixed the issue in 3.0.0, please check it out. The updated B2C sample is here:  https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS

[2016-10-13 23:04] #187 closed

[2016-10-13 23:04] #119 closed

[2016-10-14 08:06] SteenMolberg commented on #219
Thank you @lovemaths I will check it out during the weekend:)

[2016-10-14 20:50] Huan9 opened #231 "Support client_asserton for OIDC auth flow"
We are using microsoft first party app as our AAD app to do auth. For all the first party app, we cannot use client_key to get access token, we are forced to use client assertion to get access tokens from Azure AD.  => without support for client_assertion, our subscription linking scenario will get blocked.

More detail has been described here:

https://azure.microsoft.com/en-us/documentation/arti

[2016-10-14 20:50] Huan9 commented on #231
@lovemaths Thank you for the help for the other 3 feature requests. Hope you can help with this as well!

[2016-10-14 21:26] securityvoid opened #232 "Profile Data Not Loading"
I've been attempting to get the azuread-oidc strategy working today and have run into a number of issues even getting it running. It seems that a number of things have changed and documentation has not been updated.

In any case, the last (and hopefully final) issue I've run into is that the profile does not appear to populate with the email, givenName, lastName, etc. (See the screenshot):
![profi

[2016-10-14 22:07] lovemaths commented on #232
@securityvoid  We released 3.0.0 yesterday with breaking changes. It seems to me you are using the old sample with the new version of passport-azure-ad. Please refer to the changelog in master branch for the changes, and refer to the [latest sample](https://github.com/AzureADQuickStarts/AppModelv2-WebApp-OpenIDConnect-nodejs)

Since you are using v2 endpoint, the app must be registered at apps.dev

[2016-10-14 22:25] securityvoid commented on #232
@lovemaths profile.email is not populated even though I define the scope as any combination of 'openid', 'profile', 'email'.

E-mail definitely exists. I'm using this against an O365 user-account where Azure AD is the back-end for everything.

Also, what in my example makes you think I'm using an old sample currently? Can you point out what is wrong? The example you pointed me to is one of several

[2016-10-14 22:31] securityvoid commented on #232
@lovemaths BTW, github does not allow the re-opening of the issue if a repo-collaborator closed it. I can only re-open an issue if I opened it.

[2016-10-14 22:58] lovemaths commented on #232
@securityvoid

There are a couple of reasons why I think you are using the old sample:
(1) new sample doesn't use `profile.email` anywhere, since passport-azure-ad version 3.0.0 no longer has that field. The new sample uses `profile.oid` anywhere `profile.email` was used in the old sample.
(2) new sample doesn't use `callbackURL` in the constructor of strategy, since that one is renamed to `redire

[2016-10-14 23:22] securityvoid commented on #232
I really don't understand. Part of the goal's of using something like passport is for all of this stuff to be standardized so that if there is an e-mail present, it is put in the same spot. Likewise with the givenName and familyName fields. Why would I go to _json and manually parse it? Shouldn't the passport module perform according to the [Passport docs](http://passportjs.org/docs/profile)?

Lik

[2016-10-15 01:17] lovemaths commented on #232
@securityvoid

`profile._json` is an object, you don't need to parse anything. All the claims in id_token are in `profile._json`. If you have `email` claim in id_token, you can use `profile._json.email` to get it. Here is a list of claims you may get from v2 endpoint (https://azure.microsoft.com/en-us/documentation/articles/active-directory-v2-tokens/). Azure AD v2 doesn't support givenName and fa

[2016-10-15 01:17] #232 closed

[2016-10-15 01:33] lovemaths opened #233 "Provide documentation with more details"

[2016-10-18 23:19] polita commented on #233
Two things:

- Create a table in the readme with rows for V1, V2, B2C and columns for each config option with their valid values.

- API documentation

[2016-10-18 23:26] polita commented on #229
@huan9 Can you clarify your scenario?

[2016-10-18 23:28] polita commented on #155
@xerners Ping...

[2016-10-18 23:28] polita commented on #123
@xerners Ping...

[2016-10-19 00:50] Huan9 commented on #229
So I am from Sonoma(under C&E Xamarin) team. We are trying to enable grant app-only permission against user permission.
So the first step is we need to show all the subscriptions owned by the user after user auth through AAD.

User may have multiple tenants associate with his\her account. in order to get all the subscriptions associate withe the user, we actually need to go through auth flow with

[2016-10-21 09:11] KarlGW opened #238 ""user is not defined""
Hello,

I've been trying out the example provided at: [https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-webapi-nodejs/](url). I'm trying to use the BearerStrategy, and I've managed to write my own way of aquiring the access token.

But whenever I try to authenticate I get:
"user is not defined", and I've been trying to dig, and dig for where this error occur

[2016-10-21 13:03] KarlGW commented on #238
It seems the callback was the issue, in the article it was placed in the wrong space.
I'm sorry for opening an issue about this. Keep up the good work.

[2016-10-21 13:03] #238 closed

[2016-10-23 12:10] SteenMolberg opened #239 "Problems with signin in the updated sample"
I have tested out the updated sample ([B2C-WebApp-OpenIDConnect-NodeJS](https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS)) now, but have a lot of problems with the login. I keep getting this error:
"authentication failed due to: In _validateResponse: jwt is not active"

Can you help me out resolving what is going up?

Following the log it seems like the flow is working OK. I c

[2016-10-24 06:29] lovemaths commented on #239
"jwt is not active" means the id_token received from AAD is not valid util some time in the future. Seems either we get a bad id_token from AAD or there is a difference between the two clocks, I will see if I can reproduce and let you know. Thanks.

[2016-10-24 07:08] SteenMolberg commented on #239
Thks @lovemaths
let me know if you need any info from me.

Hmm... you say "not valid util some time in the future"... could this be a timezone issue? I'm at UTC+1

[2016-10-24 17:24] lovemaths commented on #239
@SteenMolberg I am not sure what the issue is. I cannot reproduce the issue, the sample works fine for me. In lib/jsonWebToken.js, can you replace line 192:
[code]
with
[code]
This can tell me how much they differ when the error occurs next time (note ' is changed to ` in the error  message). Also, please let me know what responseType you are using. Thanks.

[2016-10-25 16:21] artparks commented on #107
Any progress on this? Bunyan has completely broken for me (due to [this](https://github.com/trentm/node-bunyan/issues/216) omnishambles). I don't understand why this module needs to pull in its own logging dependency at all and the sooner it's removed the better.

[2016-10-26 02:26] brandwe commented on #155
https://github.com/jaredhanson/passport/pull/517

[2016-10-27 06:54] SteenMolberg commented on #239
@lovemaths
So after I made the small codeschange you requested I tested this again last night. To my surprise everything ran as expected. I logged in, cretaed a new user, logged out, changed profile. Several times. No errors. Strange.
This I repeated my testing this morning and logged in and out with diffenrent users. Everything seemed fine. But then I went to Reset password and canceled that agai

[2016-10-27 22:16] lovemaths commented on #239
@SteenMolberg I figured it out based on your log. In id_token they round the nbf up, but passport round the time down. For example, nbf = 1477548228, now = 1477548227.163, so I should round the 'now' up to 1477548228. This problem can be fixed by changing the `Math.floor` in lib/jsonWebToken.js line 191 to `Math.ceil`. I will create a PR and include it in the next release. Thanks!

[2016-11-02 20:52] SteenMolberg commented on #239
hi @lovemaths

I had to add 1 sec to make it work consistantly...

[code]

If I just changed flow to ceil I got problems when I tried something like reset password and cancel or signin and cancel.

[2016-11-03 05:18] lovemaths commented on #239
@SteenMolberg Thank you for the feedback!

[2016-11-04 21:29] lovemaths commented on #239
@SteenMolberg Added your fix to the new release 3.0.1, which is published today. Thanks!

[2016-11-04 21:29] #239 closed

[2016-11-04 21:58] #233 closed

[2016-11-04 21:59] #123 closed

[2016-11-08 00:26] lovemaths opened #245 "Make clock skew configurable"

[2016-11-08 21:32] nss213 opened #246 "oniyi-object-transform at "^1.0.0" pulls 1.2.0 which breaks node 4.x compatibility"
This is really an issue with oniyi-object-transform's latest release, but it seems like it could be remedied by pinning it to version 1.1.3 instead of ^1.0.0 so that we can move forward without waiting for oniyi-object-transform to be fixed in npm. I'm currently using v 2.0.3 of passport-azure-ad,  but the package.json for 3.x is also the same. Basicaly version 1.2.0 of oniyi-object-transform seem

[2016-11-09 02:16] lovemaths commented on #246
@nss213 We just did a new release (v3.0.2) to remove the dependency on oniyi-object-transform, please check it out. Thanks!

[2016-11-09 02:16] #246 closed

[2016-11-09 15:52] securityvoid opened #247 ""invalid state received in the request" causing infinite loop on Login"
On a new login I'm seeing the error "Invalid state received in the request".

I stepped through the break points and took a look at the code in oidcstrategy:
[code]

If I'm reading the code properly, it appears like its looking to see if there is a session for the user already and if there is not a session for the user already it throws the error. Since this is on the initial login before any othe

[2016-11-09 19:47] lovemaths commented on #247
@securityvoid When we send an authentication request to AAD, we always generate a {state, nonce, ...} tuple and save it into session; when we get the response from AAD, we retrieve the tuple using the state value, and remove the tuple from session. The information in the tuple is used for all kinds of validations. Therefore if we cannot get a tuple, something is wrong.

I don't know what goes wron

[2016-11-10 01:33] stuartlong opened #248 "End_to_end_test showing up in test folder"
There is an "End_to_end_test" folder showing up under passport-azure-ad/test/ whenever I do an npm install for 3.0.2. I can't find a trace of it in the source code and it's causing me deployment issues on Windows because of  path too long issues (it's nesting it's node_module even though I'm on npm version 3.7.5).

On a related note, why are any of the tests included in the npm package in the firs

[2016-11-10 05:49] lovemaths commented on #248
@stuartlong This is weird, I didn't have that folder in my master branch when I published it. I will do a new release tomorrow. Thanks for letting me know.

[2016-11-10 23:37] gbockus opened #250 "v1.4.8 - using WsfedStrategy for auth supporting multiple tenants results in error"
When authenticating using the Wsfed Strategy I always get the following error
[code]
(note I replaced most of the tenantId in the message with x's).

Looking through the release notes I found the section talking about if you have to support multiple tenants then the validateIssuer option should be set the false.

Looking though the code it appears support for that option was never added to the wsf

[2016-11-11 00:02] lovemaths commented on #250
@gbockus Yes, this can fix the issue. I will fix it and do a release in the next two weeks. Thanks!

[2016-11-11 00:47] gbockus commented on #250
Great!  Thanks for the quick response.

[2016-11-11 15:00] bondseid opened #251 "Multiple Audiences with Bearer Strategy"
Hello,

We have token coming in from multiple resource endpoints and were protecting our server api with passport-azure-ad. Because of this we need to be able to verify against multiple audiences.

Our config:

 identityMetadata: "https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration",
    clientID: "clientID",
    validateIssuer: false,
    passReqToCallback: false,
    a

[2016-11-11 19:03] lovemaths commented on #251
@bondseid This is a documentation bug. 'audience' in the configuration has to be a string, otherwise bearerStrategy won't recognize it and it issues an "options.audience is missing in jsonWebToken.verify" error message. We will add this feature in the future.

[2016-11-15 17:58] #248 closed

[2016-11-17 19:12] maxrydkin opened #253 "For OIDCStrategy with Azure B2C it appears that the wrong claim is used for policy veirfication"
For my Azue AD B2C the claims returned look like  this:
[code]

The code in oidcstrategy.js#L844 checks the claim 'acr' not 'tfp' so validation fails

[code]
In addition the check is case sensitive, but params.policy had been converted to lower case so that also fails

These issues make this sample broken https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS

[2016-11-17 19:13] jes5e opened #254 "passReqToCallback does not work with bearer strategy"
When 'passReqToCallback' is set to true, the callback passed in to a new strategy should get called with the three param option (req, user, done).  It does not.  Instead the two param option is always called (user, done).

[2016-11-17 19:16] jes5e commented on #254
I just submitted a pull request for this

[2016-11-17 21:26] lovemaths commented on #253
@maxrydkin This token doesn't seem to be a B2C token to me. What is the 'sub' claim in your token? The 'sub' claim is always "Not supported currently. Use oid claim." for B2C token.

[2016-11-17 23:00] maxrydkin commented on #253
@lovemaths I guess it is configurable now?
<img width="285" alt="screen shot 2016-11-17 at 5 59 32 pm" src="https://cloud.githubusercontent.com/assets/2838425/20411462/995ded50-acef-11e6-96be-d78858656334.png">

So maybe its fine, I just need to configure the policy more for the ample to work.

[2016-11-17 23:15] lovemaths commented on #253
@maxrydkin Yes, it seems it is configurable now. I will add the support in the future release. Please use 'acr' and let me know if everything works as expected. Thanks!

[2016-11-17 23:17] maxrydkin commented on #253
@lovemaths, yes it seems to work if I change both the iss="acr" and sub="Not Supported", maybe the docs on the sample need to be updated for now?

[2016-11-17 23:17] #253 closed

[2016-11-18 00:08] lovemaths opened #256 "Support 'tfp' for B2C"
The policy in B2C token is stored in 'acr' claim. Now this is configurable in AAD portal, user can choose either 'tfp' or 'acr' claim to store the policy. We don't have code to support 'tfp' yet.

[2016-11-23 22:42] admeister opened #259 "No @types/passport-azure-ad"
I'm using TypeScript 2 and trying to use 'passport-azure-ad' package. When I put:

`import { BearerStrategy } from 'passport-azure-ad';`

tsc is reporting:

`error TS2688: Cannot find type definition file for 'passport-azure-ad'.`

I've tried

`npm i --save-dev @types/passport-azure-ad`

but the package cannot be found. Does anyone know when this will be able, or what the work around is until then

[2016-11-28 19:45] polita commented on #259
@admeister Unfortunately, we don't have a type definition for passport-azure-ad. There's one for passport, but we haven't had the chance to create one for passport-azure-ad. You can create one yourself, or you can proceed using passport-azure-ad in your code without referencing the type in your tsconfig.

[2016-11-28 19:45] #259 closed

[2016-12-03 00:41] #155 closed

[2016-12-04 17:01] shakthi1231 opened #261 "prompt,domain_hint and login_hint are missing in the query params sent to endpoint"
Every time we use this module to do Oauth, user is redirected to a selection page where he gets to choose his personal or work account. To avoid this additional step we can log the user in by setting query parameterx domain_hint(to either ''/organizations'' or "/consumers") and passing in a proper login_hint(email or username). By doing so user is automatically logged in from the second time and t

[2016-12-05 21:40] lindblad opened #264 "OIDC authentication fails when oauth token_type is 'bearer' and not 'Bearer'"
Got a problem for OIDC strategy on line 1030 in oidcstrategy.js
    // token_type must be 'Bearer'
    if (items.token_type !== 'Bearer') {
      log.info('token_type received is: ', items.token_type);
      return next(new Error(`In _authCodeFlowHandler: token_type received is not 'Bearer'`));
    }
Our AD returns 'bearer' token_type, not 'Bearer'. Is it possible to change the check to
if (items.

[2016-12-05 21:48] lovemaths commented on #264
@lindblad Yes we can do that in the next release. I will make a PR for it.

[2016-12-05 23:01] lovemaths commented on #247
@securityvoid Please let me know if this issue still occurs. If so I will re-open this issue. Thanks.

[2016-12-07 16:22] kndt84 opened #268 "JWT id_token does not include "acr""
I tried OIDC Strategy but faced 'In _validateResponse: invalid B2C policy in id_token' error.

By parsing JWT id_token with this site (http://jwt.calebb.net), I found that acr is not included in the token and it caused the error specified in the following line.
https://github.com/AzureAD/passport-azure-ad/blob/v3.0.3/lib/oidcstrategy.js#L844

Insted of acr, ftp indicates policy name like that:

 t

[2016-12-07 17:21] #268 closed

[2016-12-20 20:59] gbockus commented on #250
HI @lovemaths Touching base on this one...Any guess on when it will be released? Thanks

[2016-12-21 23:12] lovemaths commented on #250
@gbockus We will fix the bug and do a release sometime in January. Sorry for the delay.

[2016-12-22 09:33] tvvignesh opened #273 "Reducing complexity for Single sign on"
Hi. First of all, good work with the library.

I am facing an issue and I asked for solutions here: http://stackoverflow.com/questions/41279659/azure-active-directory-authentication-v2-0-for-web-mobile-apps

But, copying the same here as well:

I am trying to implement an **Azure AD authentication system (v2.0 using Single Sign On)** for a product in my organization and I have been able to do it e

[2016-12-27 11:44] omerlh opened #274 "Allow setting a custom cache for oidc startegy"
Hey,
The OIDC strategy using a cache to validate the nonce and state parameters, and the default cache is 'memory'. Now, if I got multiple instances of my server, then it is possible that the authentication callback will be called on a different server than the one issue the request, resulting in an invalid request - because the cache is per instance. I would like to be able to pass the cache on t

[2016-12-28 00:18] lovemaths commented on #274
@omerlh The nonce, state etc are stored in session (controlled by express-session middleware), not memory. The following sample shows how to use express-session with MongoDB session store.  https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS/blob/master/app.js#L153

[2016-12-28 00:46] lovemaths commented on #273
@tvvignesh You can try 'login_hint' to autofill the username field, and 'domain_hint' to specify the domain. For instance, the following code will redirect the user to 'live.com' login page directly, with username 'xxx.example.com' autofilled. This feature is in 'dev' branch, we haven't published it yet. Hopefully this will help.

[code]

[2016-12-28 04:14] omerlh commented on #274
Yes, that what I was thinking. I was probably confused because of the cache create and used in this class.
Thanks!

[2016-12-28 05:19] #274 closed

[2016-12-28 07:39] tvvignesh commented on #273
@lovemaths: Great to hear that such feature is on the lines of implementation in the future. Will try it out.

Any idea on when we can expect this feature in the master branch?

[2017-01-04 22:20] lovemaths commented on #273
@tvvignesh We don't have a plan yet. I will let you know once we release it. Thanks.

[2017-01-05 23:36] lovemaths commented on #250
@gbockus We are unlikely to do more official releases on release1x due to various of reasons. Please fork the library and apply the change you proposed. If you are using Azure Active Directory, then I think you can switch to oidcStrategy, the link to the sample using oidcStrategy is here: https://github.com/AzureAD/passport-azure-ad#71-samples-for-openid-connect-strategy

[2017-01-09 18:20] #250 closed

[2017-01-09 20:28] lovemaths commented on #273
@tvvignesh We did the release today. Please try it out. Your case seems more complicated, so I don't know how AAD interprets and responds to the login_hint and domain_hint parameters passport-azure-ad sends. Hopefully it will work for you.

[2017-01-09 20:28] #273 closed

[2017-01-09 20:28] lovemaths commented on #264
Delivered in 3.0.4

[2017-01-09 20:29] #264 closed

[2017-01-09 20:29] lovemaths commented on #261
Delivered in 3.0.4

[2017-01-09 20:29] #261 closed

[2017-01-09 20:29] lovemaths commented on #256
Delivered in 3.0.4

[2017-01-09 20:29] #256 closed

[2017-01-09 20:30] lovemaths commented on #254
Delivered in 3.0.4

[2017-01-09 20:30] #254 closed

[2017-01-09 20:30] lovemaths commented on #251
Delivered in 3.0.4

[2017-01-09 20:31] lovemaths commented on #251
@bondseid We already added this feature in the new release 3.0.4

[2017-01-09 20:31] #251 closed

[2017-01-09 20:31] lovemaths commented on #245
Delivered in 3.0.4

[2017-01-09 20:31] #245 closed

[2017-01-09 20:32] lovemaths commented on #231
@Huan9 We added this feature in release 3.0.4.

[2017-01-09 20:32] #231 closed

[2017-01-13 10:47] tvvignesh opened #278 "Semi-Dynamic redirectUri for passport-azure-ad"
My use case is similar to what is mentioned here: https://github.com/jaredhanson/passport-facebook/issues/2

I have a working authentication system on my website (using passport-azure-ad) and I am basically using cordova inappbrowser to reuse the same authentication system for doing authentication from cordova app (Single Sign On).

Everything works fine except for the fact that this library does

[2017-01-13 10:51] tvvignesh commented on #278
You can also look at this link: https://developers.google.com/api-client-library/python/auth/installed-app to get a context of what I am talking about.

[2017-01-23 05:09] Walk4Muscle commented on #278
`passport-azure-ad` is used in `node.js` service application. Have you tried [azure-activedirectory-library-for-js](https://github.com/AzureAD/azure-activedirectory-library-for-js) in your Cordova app?

[2017-01-23 13:58] tvvignesh commented on #278
@Walk4Muscle : hi there. I am using it in node.js application and have it working properly and now, I am loading it in a cordova inappbrowser.

So, this essentially works as a website within an app and redirects me back to the website after authentication. Now, I have to listen for the page load event by the cordova inappbrowser, read the token from local storage and close the browser if successfu

[2017-01-23 13:59] tvvignesh commented on #278
So, the solution for this which I guess would be allowing the redirectUrl to be set while doing the authenticate rather than during initial config.

I may be wrong here. So, please have your own judgement while thinking about this.

[2017-01-23 19:05] lovemaths commented on #278
@tvvignesh 'state' parameter is usually used to remember a url before authentication, and retrieve after authentication. For example,
[code]
Will this fit your need?

[2017-01-24 03:37] tvvignesh commented on #278
@lovemaths : Perfect! Sorry for bothering you all. Did not think that state parameter can be used in such ways. My bad.

[2017-01-24 03:37] #278 closed

[2017-01-24 04:05] tvvignesh commented on #273
@lovemaths : Tried the new version with the parameters. Now, its like a boon. One step out of the 3 steps for email id is avoided. The remaining 2 cannot be avoided unless the person who is designing the SSO page (respective organization) allows autofilling of fields. So, the issue is settled!

Cheers :+1:

[2017-02-09 23:58] raiss opened #280 "Invalid signature when using graph.microsoft.com as an audience"
### issue

I try to authenticate a request which has a token, generated for the resource graph.microsoft.com.

`acquireTokenAsync("https://graph.microsoft.com", "xxxxx....xxxx")`

I can successfully use this token to consume the graph.microsoft.com resources e.g.
`https://graph.microsoft.com/v1.0/users/{userID}/photo/$value`

However, when I want to use the same token in my Node.js app (using pass

[2017-02-10 23:50] lovemaths commented on #280
@raiss I can reproduce this issue. It seems to me the access_token is not signed using the key provided by the metadata, which causes the signature verification failure. Still investigating.

[2017-02-11 00:40] lovemaths commented on #280
@raiss The access token for https://graph.microsoft.com can only be verified by graph.microsoft.com, so this library cannot be used for that kind of access token. Sorry about that. Closing the issue.

[2017-02-11 00:40] #280 closed

[2017-03-06 12:11] naody opened #283 "OIDC Strategy redirect loop"
I implemented OIDC Strategy on my express app and for unknown reasons when my NODE_ENV is anything but 'development' I get into redirect loop. It works fine in my 'development' ENV. In my 'production' ENV I'm making authorize requests over HTTPS with a self signed certificate. I'm not sure why this is happening.

[2017-03-06 20:22] #283 closed

[2017-03-06 20:23] naody commented on #283
My apologies. It's a silly mistake I made. I was only doing
`app.use(bodyParser.urlencoded({ extended: true }));` on my 'development' env.

[2017-03-09 17:26] makromat opened #284 "OIDC strategy requires session support. Did you forget to use session middleware such as express-session?"
Hi there.

I got error "OIDC strategy requires session support. Did you forget to use session middleware such as express-session? "

but my express-session is installed well.

    const express          = require('express')
    const https            = require('https')
    const http             = require('http')
    const ECT              = require('ect')
    const multer           = require('mul

[2017-03-13 20:13] lovemaths commented on #284
@makromat I guess the session is not configured properly, so session is not added to req before it comes to passport. The following config seem to work for me:

[code]

[2017-03-13 23:37] lovemaths opened #285 "express-session free support"
Now we store state, nonce, etc into express session, and retrieve them to validate these parameters in the response and id_token. What we want to achieve:

(1) provide alternative approach: encrypt these stuff and put into cookie, so express-session won't be necessary in case of { session: false }

(2) provide public api: so user can write their own functions to handle state, nonce, etc storage an

[2017-03-16 03:00] gurusamy opened #286 "multiple scope is not working"
I have given multiple scope. But it is taking only "read your profile"
[ 'openid',
      'profile',
      'offline_access',
      'https://outlook.office.com/mail',
      'https://outlook.office.com/mail.readwrite',
      'https://outlook.office.com/calendars.readwrite',
      'https://outlook.office.com/contacts.readwrite',
      'https://outlook.office.com/tasks.readwrite' ]

[2017-03-16 17:22] lovemaths commented on #286
@gurusamy what do you mean by "taking only read your profile"? Could you give more details?

[2017-03-16 17:27] gurusamy commented on #286
In authentication consent scree, i could see only "read your profile" consent only. I want to access email, calendar in offline using refresh token. So how can i access email api and calendar api in offline using acces_token. Can you please check attached consent screen
![screen shot 2017-03-16 at 10 23 07 am](https://cloud.githubusercontent.com/assets/497632/24009725/1662026e-0a33-11e7-9daa-69315

[2017-03-16 18:01] lovemaths commented on #286
@gurusamy I tried to use the scope you provided, but I got "scope is not valid" error page from AAD v2 endpoint. When I replace the 'https://outlook.office.com' with 'https://graph.microsoft.com' in all the scopes, I do get the consent page ( see the screen shot).

What is the identityMetadata you are using in your application?

[code]

![scope](https://cloud.githubusercontent.com/assets/6593843/2

[2017-03-16 18:35] gurusamy commented on #286
Hi Thank you for the response.. I am still getting the same consent screen. This the redirect url which has correct scope. Am i missing something?
https://login.microsoftonline.com/1b2401c7-7588-442fdfsdds-9bc1-09658da91816/oauth2/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Fauth%2Fopenid%2Freturn&response_type=code%20id_token&response_mode=form_post&client_id=ffc04bd5-844d-45b5-ba23-527

[2017-03-16 19:21] lovemaths commented on #286
@gurusamy You are using v1 endpoint, resource should be provided in the 'resource' parameter instead of 'scope'. In your request, you specified resource=https://graph.windows.net, so the access_token is for https://graph.windows.net. In your case all values in scope except 'openid profile' are not recognized by v1 so they will be ignored.

I think you might want to use v2 endpoint. One difference

[2017-03-22 17:49] lovemaths commented on #284
@makromat Closing the issue. Please reopen the issue if the problem persists. Thanks.

[2017-03-22 17:49] #284 closed

[2017-03-22 17:50] lovemaths commented on #286
@gurusamy Please reopen the issue if the problem persists. Closing the issue. Thanks.

[2017-03-22 17:50] #286 closed

[2017-04-06 15:55] jbhue opened #289 "Some users seeing collectInfoFromReq error upon login though ADFS"
I want to keep this issue very light at first and add information as needed.

I have a set of users they seem to be able to authenticate through ADFS fine and never experience an issue. I also have some users who can sometimes login but most of the time get  an error.

The error occurs after they successfully go through the login process in ADFS but then are sent back to my website and are directl

[2017-04-06 22:54] lovemaths commented on #289
@jbhue We generate a state value and send it to authority (ADFS in your case) in the login request as a query parameter. The authority should send back the same state value in the response. If passport-azure-ad doesn't see the same state, the authentication will fail.

Can you check the fiddler trace, see if the state sent is the same as the state received. If you have trouble checking it, you can

[2017-04-07 12:53] jbhue commented on #289
@lovemaths I would like to try looking at the trace myself first as I don't want to send away any sensitive data by accident. Would you mind telling me the name of the query parameter used for this state check so I can do the check myself?

[2017-04-07 18:10] lovemaths commented on #289
@jbhue First look for a GET request to your ADFS authorization endpoint, which looks like

[code]

Copy the value of the 'state' query parameter.

Then look for POST request to your redirect_uri (assume you use form_post as the response_mode), it is like:

[code]
It has a state parameter in the body. Compare this 'state' value with the previous 'state' value.

[2017-04-07 18:58] jbhue commented on #289
@lovemaths Thank you for the very clear explanation.

I have had the troubled user login while Fiddler was running. I have compared the state query parameter in the GET request to the state parameter in the body of the returning POST request. They are exactly the same. I honestly expected for this to be the issue seeing as your explanation of the error seems to point in this direction.

[2017-04-07 19:36] lovemaths commented on #289
@jbhue So the user still gets the same error even though the two state values are the same?

We do the state validation the following way: We save state in express session before we send it, and once we receive the state, we will try to retrieve and remove it from express session. The max number of state we keep in session is 10 for each user, and each state in session expires and will be deleted

[2017-04-07 22:00] lovemaths commented on #285
Shipped in v3.0.6.

[2017-04-07 22:00] #285 closed

[2017-04-07 23:05] lovemaths commented on #289
@jbhue We released a new version of passport-azure-ad today (v3.0.6), which removes the dependency on express session for state validation. With this new release we can do state validation via cookie encryption and decryption. This might solve your issue directly.

To use this feature, you can change the app the following way:

First add the four options in your strategy options. For `cookieEncryp

[2017-04-11 18:36] jbhue commented on #289
@lovemaths We have multiple servers and processes of node running but the state is managed through express sessions and stored in a database. I have not messed with the nonceLifetime at all.

Thank you for your detailed explanation of how the new update will help my case. We recently went in another direction and are no longer using ADFS and by extension this package. If we ever switch back or I c

[2017-04-11 18:42] lovemaths commented on #289
@jbhue Thanks for letting me know.

[2017-04-11 18:42] #289 closed

[2017-04-12 19:27] mmikirtumov opened #292 "After sign out protected web api still available"
Out application use OIDCStrategy for this library. In Azure AD we use implicit flow and OpenID logic. When user login and get access_token after calling the protected resource all works fine.
When user log out from Azure AD and we send the request to protected resource with the old value of access_token the API response the same way, and library pass to the next middleware.
Could you please help u

[2017-04-12 20:00] lovemaths commented on #292
@mmikirtumov This is expected behavior of access token. access token can be used as long as it is not expired, it has nothing to do with whether the user is logged in or not. I think access token is valid for 1 hour after issuance. I think you might want to store the access token per user, and delete the corresponding access token before logging out a user.

[2017-04-13 07:46] mmikirtumov commented on #292
@lovemaths Thank you for your response. I remove token from browser and this token does not available for user, but when you have token you can access to specific resource during 1 hour even if user log out. So you mean that even user log out from Azure AD, this token will be valid until expire time?

[2017-04-13 17:24] lovemaths commented on #292
@mmikirtumov Yes that's right. Access token can be used as long as it is not expired.

[2017-04-13 19:28] mmikirtumov commented on #292
@lovemaths do you know is it correct behaviour in the scope of OpenID standarts?

[2017-04-13 21:00] lovemaths commented on #292
@mmikirtumov Yes, this is the correct behavior in the scope of OpenID standard. Access token is issued by identity provider, but consumed by resource server (which is usually different from identity provider). Resource server only needs to validate the claims and expiration encoded in the access token string. Once issued, access token can be used as long as it is not expired, therefore access toke

[2017-04-13 21:00] #292 closed

[2017-04-14 03:46] mmikirtumov commented on #292
Thank you @lovemaths

[2017-04-20 08:52] ClaasM opened #293 "invalid jwt audience when running the sample"
Hi there,

When running [this](https://github.com/AzureADQuickStarts/AppModelv2-WebApp-OpenIDConnect-nodejs) sample, which is used in [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-devquickstarts-node-web) quickstart, I get the following error when returning after sign in, and the failure-redirect is triggered:
`authentication failed due to: In _validate

[2017-04-20 09:34] ClaasM commented on #293
Funnily, after trying for 2 days, 20 minutes after writing it down like this I found the mistake.

When creating the App at apps.dev.microsoft, I created the App under "Live SDK applications" instead of under "Converged applications".

This gave my application an ID like 00000000XXXXXXXX (instead of XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXX) if created under converged applications.

The first version is "c

[2017-04-20 09:34] #293 closed

[2017-04-28 19:03] dkushner opened #294 "Receive id_token instead of access_token despite proper responseType and clientSecret."
**Version**: 3.0.6

**Behaviour**: While attempting to authenticate via the OpenID protocol, I provide a `responseType` of `'code id_token'` and my client secret to the configuration. According to the documentation this should permit me to receive an access_token from the endpoint. However, the only tokens I receive when the flow completes are an id_token and a refresh_token.

**Expectation**: I s

[2017-04-28 19:34] lovemaths commented on #294
@dkushner It seems Azure AD didn't return an access token, could you give me the following information?
(1) what is the metadata endpoint are you using? Is it v1 or v2?
(2) did you specify any resource? any scope? what resource are you supposed to get access token for?

[2017-04-28 20:13] dkushner commented on #294
@lovemaths, thanks for the quick reply. I'm currently using:

  https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

The scopes I'm specifying are currently:

[code]

[2017-04-28 22:54] lovemaths commented on #294
@dkushner The reason is you didn't specify a resource in scope. If you specify a resource like 'https://graph.microsoft.com/mail.read' in scope, you will get an access token. In other words, try scope = ['openid', 'profile', 'offline_access', 'email', 'https://graph.microsoft.com/mail.read'].

The reason you got an refresh token is that you specified 'offline_access' in scope, but I am not sure wh

[2017-04-29 01:31] lovemaths commented on #294
@dkushner What is the resource you are trying to get the access token for?

[2017-04-30 22:58] dkushner commented on #294
@lovemaths, I was attempting to access `https://graph.microsoft.com/user.read` but had placed the resource URL in the resource section of the options. I appreciate your help with your last response and the rapid replies. Thanks!

[2017-05-01 18:04] #294 closed

[2017-05-02 17:51] lovemaths opened #295 "Multiple B2C policies support for BearerStrategy"

[2017-05-03 11:21] lovemaths opened #296 "Scope validation for BearerStrategy"

[2017-05-03 11:23] lovemaths opened #297 "Token cache and access token refresh feature"
Allow user to refresh access token.

[2017-05-18 14:45] oreporan opened #301 "Error: a key with kid %s cannot be found"
According to passport documentation you can authenticate against 2 strategies like so:

`passport.authenticate([StrategyA, StrategyB], {session: false})`

However when StrategyA is `passport-azure-ad` BearerStrategy, and the token on the request corresponds to StrategyB. It never reached StrategyB because an exception is thrown:

[code]
There seems to be no `err` variable in the BearerStrategy:
[c

[2017-05-18 16:46] jamespegg opened #303 "Test Credentials for Unit Tests"
I'm looking to unit test my express app using Supertest & Jasmine. At the moment, I'm having to use a real token in order to verify the requests.

Is there a way to use a test token to validate requests, or is there a preferred way to structure unit tests?

[2017-05-18 17:59] lovemaths commented on #303
@jamespegg We have two kinds of tests:
(1) mock tests using 'chai-passport-strategy'. This tool is specific for testing passport.js strategies. The tests are in test/Chai-passport_test folder.
(2) end to end tests using selenium and chrome driver. Here in the test we start an express server for each test case, manipulate the browser to make a request, record the response result in some html page,

[2017-05-18 18:02] lovemaths commented on #301
@oreporan Thank you for your contribution, we will add your fix to our code base.

[2017-05-23 06:13] TofuDaCat opened #304 "Create a Typescript Declaration file for this project"
Affected Branch - **master**

This project atm does not have a typings file. A strongly typed declarations file would be useful for those using Typescript.

Ref - https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

[2017-05-23 17:42] #303 closed

[2017-05-23 22:51] AskYous opened #305 ""Unauthorized" gives no details as to why authentication failed. Very frustrating."
I'm trying to use this for my application, but I get the following response with zero information as to how this happened or how to fix it. I don't know what I did wrong or where to start in fixing this!

**Code:**
![image](https://cloud.githubusercontent.com/assets/791996/26379704/8b9313d0-3fcf-11e7-8303-8a2154d3a112.png)

**Outcome:**
![image](https://cloud.githubusercontent.com/assets/791996/26

[2017-05-23 23:12] lovemaths commented on #305
@AskYous Add "loggingLevel" in the OIDCStrategy option like the following, and you will see all the logs in your server console.

[code]

[2017-05-24 15:58] jamespegg commented on #303
Thanks @lovemaths , however that doesn't really answer my question. I'm not looking to run the unit tests that you've already got, I need to unit test my own application that uses this library.

Ideally we shouldn't need to include a real AD token in our own unit tests to check whether this library is running. Do you have any recommendations on mocking Azure AD or to generate a test token that wil

[2017-05-24 17:14] AskYous commented on #305
@lovemaths thank you!

[2017-05-24 17:14] #305 closed

[2017-05-24 18:38] AskYous opened #306 "How do I get the user's profile from encrypted data?"
Hello,

I'm not sure where to ask this, so I'll ask here. In the verify function, I have a bunch of encrypted data. And the `profile` json object is all `undefined` data. How do I get the user's info from this? All I see is `undefined` data. See the parameters of the verify function below:

![image](https://cloud.githubusercontent.com/assets/791996/26420278/faa8b624-4076-11e7-9650-034c9d90d662.png

[2017-05-24 19:22] lovemaths commented on #306
@AskYous You can access the claims in ```id_token``` using ```profile._json```, for instance, ```profile._json.email```. If you want to look at the content of ```id_token``` directly without any software, you can go to https://jwt.io/ and paste your ```id_token``` there. The reason you got ```undefined``` for ```name``` etc is that these claims are not provided in ```id_token``` returned from AAD.

[2017-05-24 21:05] AskYous commented on #306
When I try to access the user's profile information, I get more data that I don't know how to read. I don't know what this is. Am I supposed to somehow get the profile information from this? When I used jwt.io or `profile__json`, they both give me this (in json format):

[code]

[2017-05-24 21:25] lovemaths commented on #306
@AskYous The only claim about the user in this ```id_token``` is ```sub```, which is the unique id for your user in your tenant. The rest claims are for token validation purposes, not for you to read. Here is the document on claims: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-tokens

There are two possible reasons why you don't get more claims about the user

[2017-05-24 21:56] AskYous commented on #306
Hmm... I fixed it but I don't know why it's working now.

Before, I used [passport-azure-ad-oauth2](https://github.com/auth0/passport-azure-ad-oauth2), and that would give me the access_token which I would use jwt, and it returns the user's profile with the claims filled in. But I stopped using it because it didn't allow me to enter the `scope` so the data I received was limited.

For some reason,

[2017-05-24 21:56] #306 closed

[2017-05-24 22:10] lovemaths commented on #306
@AskYous The reason is you are using v1 endpoint in passport-azure-ad-oauth2 options, but you are using v2 endpoint for passport-azure-ad. As you can see, you have the word ```v2.0``` in the metadataUrl in passport-azure-ad options. The two endpoints are completely different. You will get the user profile in passport-azure-ad as well if you remove the ```v2.0```. What do you need scope for?

[2017-05-25 00:18] AskYous commented on #306
Oh ok. Is passport-azure-ad not for v2? Or is there an updated version of this repository for v2? Sorry I'm confused.

I used scope to tell the server what information I want from the user. I want to get their name, email, and perhaps other information in the future such as profile picture or manager. I switched the endpoint to v1 and it worked better with passport-azzure-ad. I'm guessing v2 is be

[2017-05-25 06:09] lovemaths commented on #306
@AskYous passport-azure-ad supports v2 endpoints.

The reason you don't get the user profile expected from v2 endpoint is not a library problem. v1 endpoint has an user info endpoint, passport-azure-ad and passport-azure-ad-oauth2 both go there to fetch the user profile json. v2 endpoint doesn't have an user info endpoint, so you can only get limited user profile from ```id_token```. In your case,

[2017-05-25 16:47] AskYous commented on #306
Thanks @lovemaths. I understand the difference between v2 and v2 now. Basically v1 offers user information, and v2 offers a token to get user information via the graph API correct? Now I understand where the graph API comes in.

[2017-05-26 21:49] rrdelaney opened #307 "Verify id_token outside context of a request"
In my app I need to verify the signature of an `id_token` outside the context of passport.

I create the strategy like so:

[code]

but eventually I want to be able to verify an `id_token` like:

[code]

Is there any way to do this? Alternatively if I can access the key used to verify tokens I could use a JWT package to manually verify.

[2017-05-28 06:29] lovemaths commented on #303
@jamespegg The only way I know is through end to end test using selenium and chrome driver. You can look at the pattern of the end to end tests we have (test/End_to_end_Test folder). We have test applications there, and we test the web apps directly without mocking anything. We use selenium and chrome driver to help us enter the user name and password programmatically, so everything can be automat

[2017-05-31 00:14] lovemaths commented on #307
@rrdelaney You need to  manually verify the signature.

(1) create a metadata object (lib/metadata.js) with the metadataUrl, call [metadata.fetch](https://github.com/AzureAD/passport-azure-ad/blob/master/lib/metadata.js#L154). This way you will get all the keys in metadata. Note the `fetch` function is async.

(2) get the key id `kid` or `x5t` from the `id_token` header, then call [metadata.genera

[2017-06-01 17:27] AskYous opened #308 "Need a way to dynamically set redirectUrl"
We need a way to dynamically set the redurectUrl. The scenario is the following:

- In production, we need the redirectUrl to be `https://www.<mywebsite>.com/login/callback`.
- In development in my machine, we need the redurectUrl to be `http://localhost:1337/login/callback`.
- In development in my colleague's machine, we need the redirectUrl to be `http://localhost:81/login/callback`.
- In our te

[2017-06-01 22:06] AskYous opened #309 ""State" gets encoded and causes "collectInfoFromReq: invalid state received""
When I try to authenticate, I received the following error:

`authentication failed due to: In collectInfoFromReq: invalid state received in the request`

When the user is forwarded to the authorization endpoint, the state I have is this:

`CUSTOMdujKnvj%2BJ1ezw5qrAUW6RaHqAUtiU1jxmy_state`

When they're forwarded back to the redirectUri, the state is this:

`CUSTOMdujKnvj+J1ezw5qrAUW6RaHqAUtiU1jxm

[2017-06-01 22:07] AskYous commented on #309
I used a custom state too:

`passport.authenticate("office365", { "tenantIdOrName": <myTenantId>, customState: "my_state" });`

[2017-06-01 22:52] iujisato opened #310 "Infinite callback request loop"
Hi guys,
I'm looking for an answer for almost 2 weeks right now and can't get it...

I'm trying to develop an open id login with MSA and Azure, using the v2 endpoint, but I'm getting infinite callbacks requests... I've been trying to implement this in LOTS of ways, and EVERY time I get this issue...

Basically, I've declared a `/login/azure` route, that uses passport to authenticate. the callback

[2017-06-01 23:00] iujisato commented on #310
Additional info:

I've set the example app posted here
https://github.com/AzureADQuickStarts/AppModelv2-WebApp-OpenIDConnect-nodejs
and works fine, without the infinite loop callback request, so I think that mh Azure and MSA configs are ok...

Those are my Azure Portal configs:
[code]

And my app's config on `apps.dev.microsoft `
[code]

[2017-06-01 23:27] lovemaths commented on #310
@iujisato In the callback route, passport doesn't receive an id_token or an error from the request, so it initializes another login request and causes the infinite loop. I removed the 'return' word before passport.authenticate and added logging for the request body in the callback. Try the following and let me know what happens.

[code]

[2017-06-01 23:40] iujisato commented on #310
@lovemaths As requested, removed the `returns` and printed the equest.body`. At this point, the issue persists.

[code]

[2017-06-01 23:56] lovemaths commented on #310
@iujisato Seems to me you forgot to install the body-parser middleware. As you can see, `req.body` is a string instead of an object like `{ id_token: 'xxx' }`. Therefore passport cannot find the `id_token` in `req.body`.

You need to add the body-parser middleware before passport, see https://github.com/AzureADQuickStarts/AppModelv2-WebApp-OpenIDConnect-nodejs/blob/master/app.js#L33 and https://gi

[2017-06-02 00:07] lovemaths commented on #309
@AskYous Thank you for the bug. I will fix later.

[2017-06-02 00:08] iujisato commented on #310
@lovemaths Thanks for the help! Actually im using `restify-node`, that seems to do it on `post` routes.  I'll try to debug it and test this approach (actually I've seem a closed issue that said that it wasn't parsing the body, but since I'm using restify I thought that it was not my case)

For reference purpose, I'll add this to this issue
https://github.com/restify/node-restify/blob/d6c5c8c09b984

[2017-06-02 00:12] newtack opened #311 "Network requests"
This is more of a documentation question.
Will this library make network calls in validating bearer tokens, and if so, when and how often?

[2017-06-02 00:27] lovemaths commented on #311
@newtack Token validation itself doesn't make network call. However, token validation happens in `passport.authenticate`, and `passport.authenticate` may make network calls.

When you call `passport.authenticate`, we will try to load metadata from memory cache. If we don't find it in memory cache, we will make network call to load it and save it to cache. The memory cache is kept for 30 minutes.

[2017-06-02 01:15] iujisato commented on #310
@lovemaths After some testing and research I've found the answer. As I said, I'm using `restify-node`. What happens here is that the default behaviour for `restify` places parsed parameters in `request.params`.
Since `passport-azure-ad` was looking for `request.body`, the information wasn't getting properly decoded, resulting in this loop behaviour.

There are 2 solutions to this:
- Reassign the `

[2017-06-02 16:41] AskYous commented on #309
@lovemaths good to hear. Do you know any temporary workaround I can use for now? A lot of my users aren't getting authenticated. Can I have the state not have any special characters?

[2017-06-02 19:37] lovemaths commented on #309
@AskYous Yes, there is a quick fix to it.  In lib/aadutils.js, line 107.

change
[code]
to
[code]

[2017-06-02 20:31] lovemaths commented on #310
@iujisato Cool. Glad to know it works for you. I will document it in the next release. Thank you.

[2017-06-02 20:31] #310 closed

[2017-06-02 20:34] #307 closed

[2017-06-02 20:35] #311 closed

[2017-06-02 22:30] AskYous commented on #309
I went to /lib/passport-azure-ad/aadutils.js and made the following changes but it didn't work (more details below) :

![image](https://cloud.githubusercontent.com/assets/791996/26744917/0b7ee810-479d-11e7-8dfc-7ef04cb8dac8.png)

I tested it, and the state sent was the exact same as the state received since it had no special characters, and it still gave the same error message... now I'm confused.

[2017-06-02 23:50] lovemaths commented on #309
@AskYous Before we send the state, we save it in session (or cookie, based on your config). After we receive the state back from Azure AD, we will try to retrieve it from session (or cookie, based on your config). If we don't find the exact state, we throw the error that you saw.

(1) What is the config you used for passport-azure-ad?

(2) Are you running the app in one server or multiple servers?

[2017-06-03 11:38] AskYous commented on #309
Hey @lovemaths,

It's run on my localhost server and in a production server. On localhost, it seems to work 100% of the time. On production, it fails most of the time. I even used an incognito tab for the production server and it fails.

This is the config file we have:

[code]

and I have the following for `authenticate`:

[code]

I have something that may be causing this issue. Because I don't k

[2017-06-04 07:11] lovemaths commented on #308
@AskYous This is not possible. We must know the redirectUrl in advance, because we have to include the redirectUrl in the login request sent to Azure AD. Azure Ad checks if the redirectUrl matches one of those registered. Therefore redirectUrl must be exactly the same with one of those registered.

[2017-06-04 07:30] #308 closed

[2017-06-04 08:31] lovemaths commented on #309
@AskYous Not sure why you need different `redirectUrl`. My understanding is that you need to run two apps, one runs locally (for `localhost`) and the other one deployed (for `<mywebsite>.com`). You can [set up environment specific configuration](https://stackoverflow.com/questions/8332333/node-js-setting-up-environment-specific-configs-to-be-used-with-everyauth), so the two apps can use the same c

[2017-06-04 11:14] AskYous commented on #308
That's perfect! Thanks!

[2017-06-04 16:22] AskYous commented on #308
@lovemaths I just tested this and received the following error:

` The reply address '<initiallRedirectUrl>' does not match the reply address '<theSetRedirectUrl>' provided when requesting Authorization code.`

Where initialRedirectUrl is the one I put in `new OAuth2Strategy({ ... })` and theSerRedirectUrl is the one set using the `extraAuthReqQueryParams`. So it seems it's useless. I don't know.

[2017-06-05 03:54] lovemaths commented on #308
@AskYous I forgot you are using authorization code flow. This flow we send two requests (login request and token request) to Azure AD, so we have to override `redirect_uri` twice. I tested the following, it should work for you.

[code]

[2017-06-06 18:14] brentschmaltz commented on #107
@artparks closing as a dup of : https://github.com/AzureAD/passport-azure-ad/issues/196

[2017-06-06 18:14] #107 closed

[2017-06-06 18:17] brentschmaltz commented on #83
@brandwe we are not planning on doing this.

[2017-06-06 18:17] #83 closed

[2017-06-09 06:17] navneetccna opened #313 "Group removed not refleacting"
I removed user from a group but when i refresh my web page it still showing me the group in the response
I noticed that when i restart my server than only removed group is not coming in response.

Can you tell me how can i force to update group without restarting the server ?

[2017-06-09 07:41] oreporan commented on #301
Any eta on this merge?

[2017-06-09 21:51] lovemaths commented on #313
@navneetccna What is `group`? Can you give me more details on how you used this library to get a `group` and remove a user from a `group`?

[2017-06-09 21:53] lovemaths commented on #301
@oreporan Sorry for the delay. Could you make your PR against our `dev` branch instead of `master`? I will merge your PR then. Thank you!

[2017-06-10 06:58] oreporan commented on #301
Yes, I could do that.
Though for the future, you should probably make dev your default branch or else anyone who makes a pull request will always clone the wrong branch..

<img width="830" alt="screen shot 2017-06-10 at 9 56 57" src="https://user-images.githubusercontent.com/2146999/27000834-34dc9546-4dc3-11e7-9b79-4258a181f6d8.png">

[2017-06-12 05:04] navneetccna commented on #313
Azure groups for managing users. Users and groups - All groups under the Microsoft_AAD_IAM

Claim by  OIDC Passport Strategy using
responseType: 'code id_token',
scope: ['openid', 'profile', 'email'],

[2017-06-12 07:42] lovemaths commented on #313
@navneetccna So you mean the `group` info is provided in `id_token` claims?

Once the user is logged in, passport remembers the claims from the `id_token`, and uses these claims until user is logged out or `passport.authenticate` is called again. Therefore you need to call `passport.authenticate` again to get a new `id_token` after you remove a user from a `group`.

[2017-06-14 08:40] gnaeser opened #316 "Support for multiple AD"
Trying to set up a server where multiple Azure AD can be used is not possible as the cache-manager will be shared between all instances of the oicdstrategy.

Moving the require inside the Strategy.prototype.setOptions function solves the problem for servers running one instance of the server. However, this may not solve the problem when clustered servers are used (as the cache will be memory local

[2017-06-14 11:52] hajekj commented on #297
It would be great if this acted like the OIDC middleware in .NET Core, so you could then plug in the adal-node library and make them work together. All it would require is being able to overwrite the *exchange code for token* part which would get replaced by adal-node. I think it would be much more easier since it would also allow for much more scenarios - like use multipurpose refresh tokens or t

[2017-06-15 01:59] lovemaths commented on #316
@gnaeser cache-manager shouldn't cause any problem, since it is only used to store the metadata fetched from identityMetadata url, and the cache key is the url itself. It doesn't make much difference whether each oidcStrategy has its own cache-manager or they are using a shared one.

How did you use multiple oidcStrategy?

[2017-06-15 04:50] gnaeser commented on #316
I connect to two AD by doing the following in my (express) server.js
[code]

where authentOIDC.js does

[code]

but doing it this way will only allow one of the ADs to be used if the cache is "global"; only one of the applications will be remembered.

Am I doing it the wrong way? I want my server to allow customers and auth using their own Azure ADs.

[2017-06-15 05:44] lovemaths commented on #316
@gnaeser I cannot tell anything from this setting. Please take a look at the answer I gave to this [stackoverflow question](https://stackoverflow.com/questions/43885351/multiple-policies-for-oidcstrategy-using-passport-azure-ad/43945140#43945140). That approach works with multiple OidcStrategy.

[2017-06-15 06:56] gnaeser commented on #316
Thanks for the link, I'll confirm that the described method works for me. (It does however not solve the problem in the code...)

The issue that the thread describes is.most likely the same as I ran into; creating multiple instances of the policy will have them share data. It's an easy fix to move the require on the cache to where it is actually used (rather than having it among all global requies

[2017-06-15 07:23] gnaeser commented on #316
Yes! Explicitly (re)naming the strategies works! So, I'll continue down that path. Thanks!

[2017-06-15 07:23] #316 closed

[2017-06-15 21:10] tomdean opened #317 "Undefined "token_type""
I've started suddenly getting an error during the OAuth2 process after the user has been redirected back.

Strategy: OIDC
Response Type: "id_token code"
Response Mode: form_post

Versions:
passport-azure-ad@3.0.6
oauth@0.9.14

	if (items.token_type.toLowerCase() !== 'bearer') {
                          ^
	TypeError: Cannot read property 'toLowerCase' of undefined
		at self._getAccessTokenBySecret

[2017-06-15 22:04] lovemaths commented on #317
@tomdean Yes, something changed in Azure side. Please use the code in `dev` branch, I fixed it there.

[2017-06-16 06:30] navneetccna commented on #313
How can i refresh the token again ? How i know that admin change the group using code ?

[2017-06-16 18:24] lovemaths commented on #313
@navneetccna You can call passport.authenticate to refresh the token. I think you want to call passport.authenticate to get an updated id_token everywhere you want the group info.

Just out of curiosity, which claim in id_token provides the group info?

[2017-06-16 19:48] abramz opened #320 "Unhandled error in `_getAccessTokenBySecretOrAssertion`"
Some of our users are experiencing issues logging in with MSFT OAuth. The only thing we have in our server logs is this unhandled error from the `oidcstrategy`.  How do we resolve this? Why is this the error we got instead of something that our developers could use to fix the problem?

[code]

[2017-06-16 20:18] lovemaths commented on #320
@abramz This is duplicate issue with #317 , I will do a release within the next one or two hours and let you know. Please use the code in dev branch for now.

[2017-06-16 20:37] #320 closed

[2017-06-16 20:38] abramz commented on #317
Can we please get some details? My understanding was that this library is maintained by Microsoft and as such there should be communication structures, etc in place to make sure this sort of thing doesn't happen in production.

[2017-06-16 21:06] lovemaths commented on #317
@abramz Azure AD v2 endpoint used to send back an access token when we request authorization code, and they no longer did that since yesterday. This library expects and tries to validate the token, and causes the problem.

[2017-06-16 21:08] lovemaths commented on #317
@tomdean @abramz We just released the new version. Please update this library to v3.0.7 (latest).

[2017-06-16 21:11] lovemaths commented on #301
@oreporan Released new version with the change in npm.

[2017-06-16 21:13] lovemaths commented on #309
@AskYous The encoding problem is fixed in the new release.

[2017-06-16 21:13] #309 closed

[2017-06-16 21:13] #317 closed

[2017-06-16 21:14] #301 closed

[2017-06-16 21:14] lovemaths commented on #296
In release 3.0.7.

[2017-06-16 21:14] #296 closed

[2017-06-16 21:22] abramz commented on #317
I would say that this issue is far from closed. This is not aimed at you specifically, but at the PMs and leadership that you are working with. For the past few months now, we have had several issues with the V2 API and what it sends. First, with varying payload bodies where we are now checking 3 or 4 different fields for an email address, and now this.

This library is maintained by Microsoft and

[2017-06-17 16:52] vital101 opened #322 "Refresh token is always undefined"
I'm trying to get a refresh token using this Passport strategy, but for some reason I can't make it work.  I've tried de-authorizing the app several times (I know a refresh token is only granted on the first auth), but it doesn't seem to make a difference.

I'm on version `3.0.6`.

#### The Code

    // In app.js
    const creds = {
        redirectUrl: 'http://localhost:3000/token',
        clien

[2017-06-18 17:38] lovemaths commented on #322
'offline_access' scope is required to obtain a refresh token. Please add it in the scope in creds and try again. Also please upgrade to version 3.0.7.

[2017-06-18 20:23] #322 closed

[2017-06-25 03:57] szarouski commented on #292
Is it possible to control token expiration time?

[2017-06-25 20:23] szarouski opened #325 "Access token lifetime"
Hi, it would be great to be able to control access token lifetime via configuration. It seems not possible via this library yet, so please consider this issue as a feature request.

Thank you.

[2017-06-26 17:58] lovemaths commented on #325
@szarouski There is nothing this library can do to configure token lifetime since this is controlled by Azure AD. You can configure token lifetime in Azure AD following [this documentation](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes). I haven't personally tried it, hopefully it works for me.

[2017-06-26 21:06] szarouski commented on #325
@lovemaths, thank you. I saw this article, just thought it could be possible in future. For now I'll close this ticket. Thanks again.

[2017-06-26 21:06] #325 closed

[2017-06-27 06:00] mmikirtumov commented on #292
@szarouski You mean after creation of token you want to change the expiration time?

[2017-06-27 19:25] nicolehaugen opened #326 "Improve discoverability of npm package"
Today, unless you are specifically searching for Azure AD, it is difficult to find this package.  To improve discoverability and make the value proposition of this package clearer, consider the following changes:

1.) A huge value-add of using AAD is that it also allows you to hook-up social authentication; however, this isn't explicitly called out in the documentation for this package.  Since thi

[2017-06-28 19:39] lovemaths commented on #313
@navneetccna Closing this issue since this is not actionable for the library.

[2017-06-28 19:39] #313 closed

[2017-06-29 18:55] chookie opened #327 "v3.0.7 BearerStrartegy throws scope is not found in token"
v3.0.6 works ok but v3.0.7 will not validate the token.

error
[code]

endpoint
[code]
setup
[code]

[2017-06-29 19:14] lovemaths commented on #327
@chookie I think in your bearer strategy configuration, you provided `scope` option. v3.0.6 doesn't support this option, so this option doesn't do anything. In v3.0.7, we introduced `scope` option and added scope validation, so if this option is set, we validate the scope claim (`scp`) in token using the `scope` value provided.

Since the token you are using has no scope value, simply remove the `

[2017-07-03 02:11] szarouski commented on #297
Looking forward for this feature.

[2017-07-04 00:07] szarouski commented on #322
@lovemaths is it possible to get refresh_token for v1 or not really? Is offline_access available only in v2?
Thank you.

[2017-07-04 01:00] szarouski commented on #322
Also is it possible to switch app registration from using v1 endpoints to v2 endpoints? Or specify for new app registration that it should use v2 endpoints. Thank you.

[2017-07-05 07:02] lovemaths commented on #322
@szarouski Please see below:

(1) To specify the resource, for v1 we use `resourceURL` option in `passport.authenticate` (follow the example [here](https://github.com/AzureAD/passport-azure-ad/blob/master/README.md#513-options-available-for-passportauthenticate)), for v2 we use `scope` option in strategy configuration.

(2) v1 is supposed to give you both access token and refresh token when you as

[2017-07-05 12:39] szarouski commented on #322
@lovemaths thanks for your reply. For v1 I don't get a new refresh token when I renew access token (similar problem to following: https://stackoverflow.com/questions/35308425/not-able-to-get-new-refresh-token-from-azure-ad-with-grant-type-refresh-token-ca/) - I wonder if that might be due to AD configuration? (I'm just a dev, don't have access to it). However I get new refresh token with v2 endpoi

[2017-07-05 23:55] yangchristian opened #328 "OIDC session key fails to serialize for certain session middleware options"
Version: v3.0.4
Setup (not specific to these deps though):
- Session middleware: [`express-session`](https://github.com/expressjs/session) v1.10.4
- Session store: [`connect-mongo`](https://github.com/jdesboeufs/connect-mongo) v0.8.2

Repro:
- Set the `connect-mongo` option `stringify: false` ([details](https://github.com/jdesboeufs/connect-mongo#more-options))

Result:
`The dotted field 'OIDC: {r

[2017-07-06 21:01] lovemaths commented on #322
@szarouski It seems I can always get refresh token when I renew access token with v1. I am not sure what went wrong, I am asking around to see if anyone might know the answer. v1 and v2 are two separated endpoints and the usage are very different, so it is normal that the behavior are different.

You can always call `passport.authenticate` when you need an access token. This is a valid approach.

[2017-07-06 21:24] lovemaths commented on #328
@yangchristian I can reproduce this issue. Yes, clientId is better choice,  we will make this change in the next release. Thank you!

[2017-07-07 00:40] szarouski commented on #322
@lovemaths thanks for looking at that. Here is how things are setup, maybe it will shed some light.
There is web api which is using & is protected by app registration with User.Read delegated permissions. There is also UI client app (my node.js app) which is using User.Read delegated permissions + delegated permissions from web api app registration (if I'm correct - user_impersonation, access to a

[2017-07-11 16:48] faradayfan commented on #328
I have the same issue with v3.0.7
I just added `oidcStrategy.sessionKey: clientID` as a temporary work around.

[2017-07-13 18:26] lovemaths commented on #328
@yangchristian @faradayfan We just shipped v3.0.8 with the change. Closing the issue.

[2017-07-13 18:26] #328 closed

[2017-07-19 12:55] turbo commented on #297
In

[code]

the refresh token is always undefined. Since the flow type is set to "code", a RT must be generated somewhere. Where can I catch it?

[2017-07-19 17:27] lovemaths commented on #297
@turbo This [thread](https://github.com/AzureAD/passport-azure-ad/issues/322) might answer your question. If this doesn't help, please let me know your configuration. Thank you.

[2017-07-19 17:28] lovemaths commented on #327
@chookie Closing this issue. Please let me know if the solution doesn't work for you. Thank you.

[2017-07-19 17:28] #327 closed

[2017-07-21 09:25] chookie commented on #327
@lovemaths Thank you I will check it out

[2017-08-08 05:30] rrubio opened #331 "prompt admin_consent - Unsupported"
Hi Guys,

Getting the following error when trying to use "prompt" AADSTS90023: Unsupported 'prompt' value.

`router.get('/login', passport.authenticate('azuread-openidconnect', { failureRedirect: '/', prompt: 'admin_consent' }),
  function(req, res) {
    log.info('Login was called in the Sample');
    res.redirect('/');
});
`

[2017-08-08 07:29] lovemaths commented on #331
Could you give us the config (options) of the strategy? The error message from authentication endpoint says admin_consent is not supported for your configuration or your application.

[2017-08-08 11:16] rrubio commented on #331
@lovemaths thanks for your quick response, but i think it's just a typo on the readme file. I'm now using the following and errors are gone.

[2017-08-08 11:34] #331 closed

[2017-08-08 20:22] lovemaths commented on #331
@rrubio The typo is now fixed. Thank you for pointing it out!

[2017-08-12 11:52] sigratton opened #333 "access token validation should not require a sub claim"
The current implementation of jsonWebToken.verify enforces that a sub claim is present in the token.  There is no notion of a sub claim in an access token that has been obtained via a client credentials flow, since it is designed for server to server interaction.  Hence the BearerStrategy returns a 401 when presented with an token from client creds, because the jwt verify fails on line 170/171

I

[2017-08-14 17:50] lovemaths commented on #333
@sigratton Thank you for pointing it out. jsonWebToken.verify is used to verify both id_token and access_token, so we cannot simply remove that line. We will make the changes to support the client credential token and let you know once the fix is ready.

[2017-08-15 03:26] sigratton commented on #333
Thank you - I am happy to help with the fix if you let me know what you are
thinking in terms of implementation.  I assume you will let the bearer
strategy provide some sort of configuration to jsonWebToken.verify
Regards
Simon.

On Tue, Aug 15, 2017 at 1:50 AM, Sijun Liu <notifications@github.com> wrote:

[2017-08-15 21:01] lovemaths commented on #333
@sigratton Yes that's right. Please take a look at my PR (https://github.com/AzureAD/passport-azure-ad/pull/334), see if the change works for you. Thank you.

[2017-08-24 09:40] fikkatra opened #335 "Token signed with expired key causes crash: 'a key with kid %s cannot be found'"
An API call made with an old token (expired June 14, 2017) caused our app to crash. I assume the key with which the token was originally signed, is no longer available.

An error '**a key with kid %s cannot be found**' was thrown, causing the app to crash.

The desired behavior would be to just return 401, instead of throwing an error. Now, any malicious user can crash the app by just sending an H

[2017-08-24 17:58] lovemaths commented on #335
@fikkatra We fixed this bug in version 3.0.7, please update your version to the newest version (current version is 3.0.8).

[2017-08-25 10:55] #335 closed

[2017-09-05 14:44] oreporan commented on #304
frankly its a bit dissapointing that a microsoft library doesn't have typescript on its own modules...

[2017-09-09 07:25] naveen26246 opened #336 "ERR_CONNECTION_CLOSED"
When i try to run the application , i get the ERR_CONNECTION_CLOSED error with the following log:

[2017-09-09T07:22:46.259Z]  WARN: AzureAD: OIDC Passport Strategy/27939 on naveen: Production environments should always validate the issuer.
Started app.....
Homepage
[2017-09-09T07:22:52.008Z]  INFO: AzureAD: OIDC Passport Strategy/27939 on naveen: metadataUrl is: https://login.microsoftonline.com/

[2017-09-11 22:07] lovemaths commented on #336
@naveen26246 This seems to be network problem. According to the log, passport should have redirected you to Microsoft login page. Did you see that page? It will help if you can provide the fiddler trace.

[2017-09-19 21:01] lovemaths commented on #336
@naveen26246 Closing the issue. Please reopen it if this problem persists. Thank you.

[2017-09-19 21:01] #336 closed

[2017-09-21 21:28] lovemaths commented on #333
Closing since it is committed to dev branch.

[2017-09-21 21:28] #333 closed

[2017-09-28 08:00] herrkris opened #338 "Allow query parameters in the identityMetadata config key"
Hey there,

the identity server I'm using has a query parameter in the URL. I saw that whenever you are concatenating URLs you don't check if a query parameter is already present. Would be super helpful to have this feature in place, since everything else is working awesomely! :)

I also provided a PR. Hope that helps! :)

Cheers,
Kris

[2017-09-28 18:05] lovemaths commented on #338
@herrkris merged your PR to dev branch. Thank you for your contribution!

[2017-09-28 18:05] #338 closed

[2017-09-29 00:15] Rmafive opened #340 "Question - Bearer Authentication with Azure Active Directory Access Tokens"
I tried asking this on Stack Overflow a while back, since I realize this area is more for issues with the project; however, I'm not sure how else to get an answer to my question! I am using the [Passport AAD project][1] v3.0.8 with the bearer strategy to protect my endpoints. After I receive tokens with the OIDC strategy when logging in, I can't seem to get the bearer strategy to validate the sign

[2017-09-29 01:18] lovemaths commented on #340
@Rmafive Access token from AAD may not be a jwt (in which case only AAD knows how to validate it). Use `https://graph.windows.net` for your `resourceURL` (instead of `https://graph.windows.com`), I remember for this `resourceURL` AAD will give back a jwt access token, and you can use `bearerStrategy` to validate it.

[2017-09-29 02:48] Rmafive commented on #340
@lovemaths Thanks for the reply! I tried the following changes with the following results:

1) Swapped out the resource URL on the bearer strategy to: `https://graph.windows.net` as you suggested, while leaving my OIDC strategy setup with the resource URL of `https://graph.microsoft.com`.

In this case I still get an invalid signature error.

2) I then tried swapping both resource URLs (bearer and

[2017-09-29 20:18] lovemaths commented on #340
@Rmafive Yes switching to `https://graph.windows.net` for both OIDCstrategy and BearerStrategy is the solution.

The audiences in id token and access token are both correct. Id token is for you, but access token is for the resource you are asking for, so the audience for access token is always the resource, in this case, `https://graph.windows.net`.

You can set the accepted audiences and issuers

[2017-10-09 21:16] lovemaths commented on #340
@Rmafive  Closing the issue. Please reopen this issue if you have any further questions.

[2017-10-09 21:16] #340 closed

[2017-10-11 02:06] hsimah opened #341 "Cannot connect behind proxy"
I develop behind a corporate proxy - this library does not set the agent on any requests to Azure.

I need to get this done for an internal project and so have forked the repo and added in a quick and dirty `https-proxy-agent` import to `oidcstrategy` and `metadata`. I will hopefully come back later and clean it up.

[2017-11-02 14:26] faradayfan commented on #297
I am looking forward to this feature as well. In the mean time, does anyone know of some instructions to implement some sort of token refresh as a workaround?

[2017-11-04 01:45] szarouski commented on #297
Its been a while but workaround that I had to take was - authenticate user with ADFS then init session using express - keep user signed in using this session. In background keep getting adfs token by using following pseudo-code:
[code]
Then keep refreshing token as often as needed and use cached version of token for authorization...
Good luck.

[2017-11-04 01:47] szarouski commented on #297
This is what `adal` library is doing in .net. There is also a port to javascript as well, but it was getting in corrupt state even though I could still get refresh tokens, so I had to write this workaround. Do some research about grant_type: 'client_credentials'. This is as much as I know.

[2017-11-08 17:17] timelf123 opened #343 "Any way to use without cookies/sessions?"
We already use JWT for state, don't want to add another cookie. Anyone use this module without using sessions/cookies?

[2017-11-15 00:38] timelf123 commented on #343
For example, this is how we add our token to a cookie
[code]

[2017-11-20 17:19] timelf123 opened #344 "Response not defined in oauthConfig leads to res.cookie undefined"
[code]

In `CookieContentHandler.prototype.add`
[code]

Route:
[code]

[2017-11-20 17:25] #344 closed

[2017-11-20 19:51] timelf123 opened #345 "Passing response to callback causes timeout"
When I attempt to pass `res` to the post method, my callback just hangs indefinitely
[code]
[code]

If I comment out `res.clearCookie(cookie);` in this lib, all works as expected

[2017-11-20 20:07] timelf123 commented on #344
Didn't see that we have to explicitly pass in res oops

[2017-11-28 20:29] cadesalaberry commented on #239
For some reasons, I seem to have the same problem. Adding your line, I get the following:

[code]

Which results in a diff of precisely **301**. Is it normal for it to be exactly one above the default `clockSkew` ?

@SteenMolberg  @lovemaths

[2017-12-01 20:55] Romie13 opened #347 "Does it work with express 4.x"
The strategy options on the microsoft website is different than here and it uses an older version of express.
Can we use Express 4.x

[2017-12-04 16:47] chookie commented on #327
Yes that worked thanks

[2017-12-04 23:35] lovemaths commented on #345
@timelf123 What are your express version and passport-azure-ad version? I just merged a PR into the dev branch which is related to this. Could you please give it a try and see if it solves the problem?

[2017-12-04 23:37] lovemaths commented on #347
@Romie13 I don't think we have tested express 4.x, I will test it and let you know.

[2017-12-04 23:54] lovemaths commented on #347
@Romie13 Yes, this library works for Express 4.x.

[2017-12-04 23:54] #347 closed

[2017-12-05 22:34] lovemaths commented on #345
@timelf123 do you have cookieparser middleware installed to your app?

[2017-12-12 07:43] timelf123 commented on #345
@lovemaths will check out the dev branch tomorrow, thank you. I do have cookieparser installed as a middleware.
`express@4.16.2`
`passport-azure-ad@3.0.8`

[2017-12-15 21:08] bdragos opened #349 "TENANTNAME_REGEX in lib/constants is too restrictive"
We should be able to identify the tenant using a custom domain defined on the tenant and not only the *.onmicrosoft.com. I quickly removed the restriction and the v2 endpoints correctly handle the custom domains.

Currently using a custom domain fails validation with this message:
"level":30,"msg":"authentication failed due to: In passport.authenticate: invalid tenantIdOrName somedomain.com"

Chan

[2017-12-17 20:39] mmustala commented on #305
Please add a section "Troubleshooting" into the readme and tell to enable the logging.

[2017-12-18 01:47] timelf123 commented on #345
Dev branch solves this issue, thank you. When will it be merged to main?

[2017-12-21 22:33] lovemaths commented on #349
What pattern does your custom domain have? Could you please a couple of examples?

[2017-12-21 22:36] lovemaths commented on #345
@timelf123 We will do an official release early next week, and we will let you know. Thank you.

[2017-12-21 22:49] lovemaths commented on #349
@bdragos Working on it, will keep you posted. Thanks.

[2017-12-27 22:24] lovemaths commented on #349
@bdragos We just did a new release (v3.0.9) with the fix, please check it out. Thanks.

[2017-12-27 22:24] #349 closed

[2017-12-27 22:25] lovemaths commented on #345
@timelf123 We just did a new release (v3.0.9), please check it out. Thanks.

[2017-12-27 22:25] #345 closed

[2017-12-27 22:44] lovemaths commented on #343
@timelf123 This is not possible for OIDCStrategy. Session/cookie is required for `state` and `nonce` validation when user logs in for the first time. We use session/cookie to store `state` and `nonce` when we send authorization request to AAD. When we get response back from AAD, we retrieve `state` and `nonce` from session/cookie and compare them with the those in the response.

[2017-12-27 22:44] #343 closed

[2018-01-02 19:39] bdragos commented on #349
Sorry for the late response, first day back to work.
I tried the 3.0.9 and everything works as expected, thank you for the quick
fix.

Thanks,
Dragos

On Wed, Dec 27, 2017 at 5:24 PM, Sijun Liu <notifications@github.com> wrote:

[2018-01-03 19:07] davidkpiano commented on #247
@lovemaths I'm seeing a similar issue, where I will get a `401 Unauthorized` and the page will infinitely be loading. It's best reproducible when using Edge (InPrivate window), if that helps.

[2018-01-03 19:18] davidkpiano commented on #247
This seems related: https://stackoverflow.com/questions/40185796/trouble-using-passport-azure-ad-oidcstrategy-with-passportjs and I noticed that I had:

[code]

which may be the issue re. inconsistent states.

[2018-01-03 23:26] lovemaths commented on #247
@davidkpiano Yes that might be possible. If body parser fails to parse, then we cannot get the `state` parameter from the body. Please give it a try and let me know the result. Thank you.

[2018-01-04 21:37] davidkpiano commented on #247
The same issue occurs when setting `extended: true`.

[2018-01-13 02:20] kasirajans opened #352 "authentication failed due to: In _validateResponse: We did not receive a token we know how to validate"
I'm getting below error .Please advice ..

{"name":"AzureAD: OIDC Passport Strategy","hostname":"<Mac Name>-iMac.local","pid":1227,"level":30,"msg":"authentication failed due to: In _validateResponse: We did not receive a token we know how to validate","time":"2018-01-13T01:42:49.107Z","v":0}

[2018-01-15 01:09] lovemaths commented on #352
@kasirajans This is because we didn't find 'kid' or 'x5t' field in the header of the id_token so we don't know what is the key to validate the id_token. What is your config? Where is the id_token coming from? You can copy your id_token in https://jwt.io/ and see what is in the header.

[2018-01-15 01:43] kasirajans commented on #352
Yep you are right ! I could see only below in the header .

{
  "typ": "JWT",
  "alg": "HS256"
}

[2018-01-16 23:27] billti opened #353 "npm install on Windows gives errors"
Looks like the error is as you depend on Bunyan, which depends on dtrace-provider. I get the below error in a new package when I do `npm install passport-azure-ad` or `npm install bunyan`.

A search on the bunyan repro for node-gyp issues turns up a lot of hits :-/  (https://github.com/trentm/node-bunyan/search?q=node-gyp&type=Issues&utf8=%E2%9C%93). Not sure this breaks anything, but obviously er

[2018-01-17 20:07] mlucool commented on #196
Is there any plans to complete this feature?

[2018-01-17 22:37] sauravmajumder-microsoft opened #354 "Support passing tenant name or id in BearerStrategy"
For supporting multiple tenant there is a way to pass tenant name or id in the authenticate call in the OIDC Strategy. But there is no way to do the same thing for the Bearer Strategy. It will be good to have the same thing in Bearer Strategy so that tenant specific issuer won't need to be provided during configuration.

[2018-01-18 14:40] HofmT commented on #341
@hsimah Hey, are you still working on it? Because I am currently dealing with the issue of working behind a proxy with azure passport and cannot solve it.
I tried to adapt your modifications butmy server crashes after I successfully log into Azure AD: Error message is: _Error: an HTTP(S) proxy server `host` and `port` must be specified!_
I have specified the proxy hardcoded by replacing _options.p

[2018-01-19 00:53] hsimah commented on #341
@HofmT if you reference my fork (https://github.com/hsimah/passport-azure-ad) from your npm package.json it should work. It's not pretty but it works for my employer's proxy.

[2018-01-20 15:43] #352 closed

[2018-01-22 02:02] kasirajans opened #355 "Looping between authorization endpoint and Redirect URI"
When I execute passport-azure-ad strategy with below code .Its looping me between authorization endpoint and redirect URI.

router.get('/login', passport.authenticate('azuread-openidconnect'));

router.post('/openid/return', passport.authenticate('azuread-openidconnect'), (req, res) => {
    log.info('Got proifle info');
    res.send('got call back');
});

++++++Passport config++++++++++

passport

[2018-01-22 14:13] ErrorPro commented on #355
Its probably cuz you don't have bodyParser middleware. Just add  `app.use(bodyParser.urlencoded({ extended: true }));` before your passport js

[2018-01-23 01:48] kasirajans commented on #355
THanks . It worked also added npm cookie-parser and app.use(cookieParser()) .

[2018-01-23 01:48] #355 closed

[2018-01-23 10:36] ErrorPro opened #356 "Session free auth flow"
Hi, is there any docs or an example of session free auth?

Following the current docs doesn't help me at all.

I went through all the code base and I only saw logic around cookie is to parse it down to tuple, and later build a tuple and store it to res.cookie.

Maybe I understand it wrong but what I want to achieve is:

My app redirects user to azure login page, then azure redirects request back t

[2018-01-23 12:09] HofmT commented on #247
@lovemaths Hi,
I have the same error. After I login for the first time using AAD I get redirected to the Login page of my WebApp and in the logs it prints out: _authentication failed due to: In collectInfoFromReq: invalid state received in the request_. Now, when I go to the login route a second time it will redirect me to the Homepage of the WebApp without entering my credentials again. Any help

[2018-01-23 12:30] davidkpiano commented on #247
@HofmT The issue for me was that there were multiple instances of the authentication service working across different servers, which led to an inconsistent (or missing `state`) when comparing the state received from AAD on the round-trip.

The best solution so far was to use cookies instead:

[code]

[2018-01-23 12:58] HofmT commented on #247
@davidkpiano Thanks for the swift reply! I managed to find my issue in the meantime as well. I'm currently testing the application on my localhost and I have registered the app in AAD under 127.0.0.1. When I access my page under _localhost_ I will end up receiving the state error. However, when accessing the page via 127.0.0.1 it will redirect me correctly. Such an akward issue, happy that I final

[2018-01-23 21:14] lovemaths commented on #356
@ErrorPro Here is some background that helps.

(1) how passport.js keeps user signed in?

When user logs in for the first time, user enters username and password, then AAD returns an id_token. Passport.js extracts `user` info from id_token, and saves it in session.
For the subsequent request, passport.js sees the `user` object in session, so it says hey you are already logged in.
If you set `sessi

[2018-01-24 10:12] ErrorPro commented on #356
@lovemaths Thank you for your response.

[2018-01-24 10:12] #356 closed

[2018-01-25 15:06] rudfoss opened #357 "Invalid state on azure, but working locally"
I have an Azure Active Directory tenant that I wish to authenticate with from my Node.js application running on an Azure App Service instance. I'm using passportjs and passport-azure-ad to do this.

Locally everything works fine. I can authenticate with the Azure AD tenant and it returns back to my page correctly. However on Azure it fails with the error:

`authentication failed due to: In collect

[2018-01-26 14:43] rudfoss commented on #357
I've done some more debugging and I don't think this is a problem with passport-azure-ad. Instead it appears that session cookies are not set correctly on the Azure app.

Sorry for polluting the issue tracker.

[2018-01-26 14:43] #357 closed

[2018-01-30 01:11] lovemaths commented on #354
@sauravmajumder-microsoft Just release v3.0.10 with this feature, please give it a try. Thanks.

[2018-01-30 01:11] #354 closed

[2018-01-30 01:16] sauravmajumder89 commented on #354
Thanks! I will definitely try that.

[2018-01-30 01:18] lovemaths commented on #353
@billti Thank you for pointing it out. We will remove the Bunyan dependency.

[2018-02-01 05:35] satyareddy12 opened #361 "jwt token validation and session time out"
Hi, i am implementing node app by using passport azure ad to get the tokens from azure and validate the token after receiving them. but i am facing some issues while validating the token. Library was taking default audience and issuer values  from token for validation including with the aud & issuer values we pass in config file in below function in oidcstrategy.js file.
verify id_token signature

[2018-02-01 10:28] HofmT opened #362 "How to get information out of JWT"
Hi,

I'm currenlty using _passport-azure-ad_ for my node application. I have an Azure Active Directory where there is a user that belongs to a group within AD. My question is: how can I check in my app to which group a user that authenticated belongs to? I want to make the access to my app dependable on the group membership.

I had a look at the payload of the JWT token but all I found was the nam

[2018-02-01 13:35] HofmT commented on #362
Solved the issue by myself. It obviously had nothing to do with passport.
For all of you interested in this:
You have to edit the manifest file of your registered application in the Azure portal to enable the transmission of groups within the JWT token. (see [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims) for more details)

Then you can acc

[2018-02-01 13:35] #362 closed

[2018-02-01 23:14] lovemaths commented on #361
@satyareddy12

(1) if you are using tenant specific endpoint for identity metadata url (something like https://login.microsoftonline.com/xx.....xx/.... or https://login.microsoftonline.com/xxx.onmicrosoft.com/...), then we will check the issuer in jwt token against the issuer provided in the metadata, if this fails, we check the issuer provided by you.

if you are using common endpoint (https://lo

[2018-02-01 23:27] satyareddy12 commented on #361
thanks for quick response,
1)how about the audience validation, i am facing the same issue with audience too , it is getting default aud from token ,in addition to the audience value i pass in config file.
2)will it check the expiration of the token too by default ?
3) how long will be the session will be any specific time period and if it does so then the actual token issued by azure will be vali

[2018-02-02 21:58] lovemaths commented on #361
@satyareddy12
1) For OidcStrategy, we don't take any audience values provided by the user. The audience in the id_token must be (or contains) the client id, otherwise we will reject the token.
2) Library only validates id_token. Access token is opaque to the user, only the resource server knows how to validate it. Also access token is not necessarily a jwt (for instance, the access token for graph

[2018-02-03 00:32] satyareddy12 commented on #361
thanks for your quick response and detail explanation about the library, above explanation helps a lot to understand about the library.
thanks once again!

[2018-02-06 21:24] MarkHerhold commented on #322
I encountered a similar problem where I couldn't get a refresh token. I solved this with the following config.
responseType: 'code id_token',

[2018-02-06 21:36] #361 closed

[2018-02-08 22:20] MarkHerhold opened #363 "Stateless w/ Access Token and Refresh Token"
What's the appropriate strategy to manage an access and refresh token when using a stateless (cookie) approach?

I'm thinking that one approach would be to create a new cookie via the `validate` callback (with signature `req, iss, sub, profile, accessToken, refreshToken, done`) and create a new cookie, then redirect my user to the home page. Does this approach sound correct?

When a user makes a r

[2018-02-09 01:16] lovemaths commented on #363
@MarkHerhold I think this will work as long as the cookie has enough room for access token and refresh token.

[2018-02-14 23:47] #247 closed

[2018-02-14 23:47] #363 closed

[2018-02-15 04:50] raiss opened #365 "Metadata caching in Bearer Strategy breaks and cannot be recovered if request fails"
# Issue
When there is a connection issue (e.g. due to proxy/network issue), fetching metadata fails and throw the following error and fails the request (as expected)

However, the subsequent requests hangs and never gets processed. They also don't throw any error and don't time out. So if one request to fetch metadata fails, it will never recover unless restarting the node process (to get rid of t

[2018-02-15 18:55] lovemaths commented on #353
Closing the issue. Removing Bunyan dependency is part of enhancement #196

[2018-02-15 18:55] #353 closed

[2018-02-15 21:34] lovemaths commented on #365
@raiss Fix is now available in 3.0.11, please check it out. Thanks.

[2018-02-15 21:34] #365 closed

[2018-02-16 08:50] ErrorPro opened #368 "Renew token using refresh token"
Hi,

I want to renew a new token using refresh_token, azure allows me to do so just calling `/token` with correct [parameters.](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code#4-refresh-the-token).
All we need to do to make it work using your library is to change [grant_type](https://github.com/AzureAD/passport-azure-ad/blob/e94c8034c75074ef5ab

[2018-02-19 04:24] leitu commented on #341
@hsimah , your patch save my life, I had been struggle for weeks!

[2018-02-20 04:33] hsimah commented on #341
@leitu glad it helped
@HofmT did you get it working? I have some spare time coming up and I will formalise this into a PR. Your use case would help me make a robust one.

[2018-02-20 09:12] HofmT commented on #341
@hsimah To be honest I did not pursue it any further. I used a workaround which redirects the whole traffic via the proxy using global-tunnel.

[2018-02-20 21:24] lovemaths commented on #368
@ErrorPro duplicate of #297
This is in our features list, but we are not planning to add this feature in the next few months. We haven't designed it yet, things can get complicated when refresh token expires.

[2018-02-20 21:24] #368 closed

[2018-02-22 00:02] cidbeltran opened #369 "Pkginfo dependency failing when bundled with webpack"
**Version: 3.0.10**

Running unbundled works fine. After bundling i keep getting an error: Could not find package.json up from 457. Where 457 is the id of pkginfo webpack assigns. Seems pkginfo depending on the id of the current module to derive the given path causes the issue.

A similar issue was brought up in meteorjs: https://github.com/meteor/meteor/issues/6313

Replacing it's usage (getLibra

[2018-02-23 02:26] lovemaths commented on #369
@cidbeltran Removed the dependency on pkginfo. The change is now in dev branch. Will ship with version 3.0.12. Thanks.

[2018-02-23 02:26] #369 closed

[2018-02-28 20:47] js-kyle opened #371 "SAML Bypass vulnerability"
https://developer.okta.com/blog/2018/02/27/a-breakdown-of-the-new-saml-authentication-bypass-vulnerability

Hey - just checking whether or not anyone has assessed the risk of the above vulnerability in this package?

[2018-03-01 01:47] lovemaths commented on #371
@js-kyle We only support JWT format. SAML has nothing to do with this package.

[2018-03-01 01:47] #371 closed

[2018-03-09 09:04] kateflower opened #372 "AAD authentication fails with persistent cookie"
When using a persistent cookie the AAD authentication fails with the following error message:

authentication failed due to: In collectInfoFromReq: invalid state received in the request

What I have is a session object as follows:

[code]

If I remove the "store" then the aad authentication works.

I really want my persistent session.  I am doing something wrong?  Possible workaround?

Thanks
K.

[2018-03-09 09:12] kateflower commented on #372
Ah,
Soon as I read my own post I noticed the problem:

sameSite: 'strict'

and my persistent cookie was always being restored with this setting.

:-)

[2018-03-09 09:12] #372 closed

[2018-03-13 17:34] Ephasme commented on #304
Is this abandoned?

[2018-03-15 17:22] foodaka opened #373 "authentication failed due to: In Strategy.prototype.jwtVerify"
Cant figure out how to properly sign the token. The browser gets the id_token and access_token from the azure active directory. When verifying with the bearer strategy on the server we keep getting this error.

[2018-03-15 18:17] lovemaths commented on #373
@foodaka What is the version are you using? Could you please provide the configuration?

[2018-03-15 19:02] foodaka commented on #373
"passport-azure-ad": "^3.0.12"

[2018-03-15 19:03] foodaka commented on #373
[code]

[2018-03-15 19:04] foodaka commented on #373
which configuration do we need on the front end for accessing the token? We are authenticating against an access_token using auth 2 implicit flow

[2018-03-15 19:48] lovemaths commented on #373
@foodaka What is the complete error message? The error message provided doesn't seem to be a complete one (authentication failed due to: In Strategy.prototype.jwtVerify).

Who issued the access token, AAD v1 or v2 endpoint?

[2018-03-15 20:33] foodaka commented on #373
im using v2 endpoint. front end is using
[code]
express error is

[code]

[2018-03-15 20:38] foodaka commented on #373
one thing to note on the token. running the jwtVerify function it returns an Error invalid signature

[2018-03-15 21:20] lovemaths commented on #373
@foodaka I see. This is a known problem. The problem is that the access token from v2 endpoint is not JWT most times, so no one knows how to validate it except the AAD resource server itself. There is nothing you can do to verify the access token.

id_token is guaranteed to be JWT, so you can try to use id_token instead if that's proper in your scenario.

[2018-03-15 21:20] #373 closed

[2018-03-27 03:09] nanli1022 opened #374 "Cannot redeem authorization code"
Hi, I downloaded the sample code of Azure B2C for Nodejs Web APP but failed to run it successfully.
Here's my trace:
[code]

From the network of browser, I can see that the id_token has been sent back successfully. In the audit log of azure b2c user, I can also see the following logs:
[code]
Please advise. Thanks!

[2018-03-27 05:05] lovemaths commented on #374
@nanli1022 Add `loggingNoPII: false` to your config of OIDCStrategy, you will see more details why the authorization code is rejected.  (`loggingNoPII` means not logging anything related to personal identification information, turning it to false will give you the full detail of the error)

[code]

[2018-03-27 05:07] #295 closed

[2018-04-12 02:22] Daniel-Hope opened #375 "Malformed JSON web token causes crash"
version: 3.0.12
Hi,
I am using the Bearer Strategy to check auth tokens fetched from AAD.
The library works well and handles the situation appropriately when there is a valid or expired token sent in the authorization header.
Next I tried taking a valid token, deleting a chunk out of the middle of it, then sending that to my node server. This resulted in the jwt JSON parser throwing and error caus

[2018-04-16 07:33] ydogandjiev opened #376 "How is issuer validation supposed to work for a multi-tenant app?"
Why is the library throwing this error?
[code]

How is issuer validation supposed to work for a multi-tenant app which is what I am trying to build?

[2018-04-16 07:52] ydogandjiev commented on #376
Based on the documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devhowto-multi-tenant-overview#update-your-code-to-handle-multiple-issuer-values), issuer validation is only necessary if I care to limit which tenants can use my app. I want any tenant to be able to use my app.

Here is the exact snippet:
![image](https://user-images.githubuserconten

[2018-04-17 00:04] winamp commented on #374
Hi @lovemaths, I'm having same issue here with mode detailed log msg:
[code]

[2018-04-19 14:08] eduardomourar commented on #374
The only way I could find to work was by making `responseType: 'id_token'`

[2018-04-19 17:54] nanli1022 commented on #374
The reason why I got this error is because I got a wrong client secret.
Maybe you can re-generate client secret and try again:)

On 16 April 2018 at 20:04, Alexey <notifications@github.com> wrote:

[2018-04-28 16:11] hajekj commented on #297
Just FYI, in case someone is still looking for a solution - you can combine Passport wtih ADAL for Node.js - https://hajekj.net/2018/04/28/using-adal-for-node-js-with-passport-js/

[2018-05-02 11:53] Robula commented on #304
Probably abandoned like most of Microsoft's stuff on GitHub...

[2018-05-08 03:57] tmschbgr opened #380 "Update npm bunyan to fix moment 2.18.1 vulnerability"
Hi,

there is a regular expression denial of service vulnerability in the npm package moment, which is a dependency of bunyan.

Please update the bunyan dependency in order to fix this issue.

Cheers

[2018-05-09 09:31] HofmT opened #381 "Passport issues when using with Kubernetes"
Dear all,

I have encountered an issue when hosting an application secured by passport AD in a larger replicaset than 1.
My app consists of a very simple server.js that basically looks the same like the example application for passport-azure-ad provided by the [Getting Started examples.](https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS). On top of that I define two further custom

[2018-05-12 15:43] LaunaKay commented on #381
Not entirely sure if it's the same issue but we had something similar with
multiple replicas using Docker swarm. We fixed it by using sticky sessions
in Traefik. The issue was being (re)directed across multiple replicas
during the auth process which meant losing the session cookies that are
set, used and /or removed. We have a different stack but maybe this will
give you something to consider.

On

[2018-05-15 06:46] HofmT commented on #381
Yes, thank you for your hint. This might be the case. I will have to check that.

[2018-05-15 06:46] #381 closed

[2018-05-17 17:39] mir4ef opened #383 "Update base64url to fix vunerability"
There is a known vulnerability in [base64url 2.0.0](https://nodesecurity.io/advisories/664). Could you please update your dependency to a later version that has patched the vulnerability? We are using `nsp` as part of our build process and our builds are failing due to this.

[code]

[2018-05-18 08:06] leoschweizer commented on #383
See #382

[2018-05-20 13:29] RalphSleigh opened #384 "Inconsistent profile information?"
Hi

I may be doing it wrong, but I can't get the profile information to work consistently. I am trying to add a series of social login buttons to my app and I am setting it up like so:

[code]

Now in the case when I log in using a personal hotmail account the e-mail address ends up in:

profile._json.email

With an organisational account:

e-mail is in profile._json.preferred_username

I can take

[2018-05-25 13:59] jainrahul1234 commented on #310
I am having a similar issue, but in my case req body is coming blank.  This is how the the code looks like-

`var OIDCStrategy = require('passport-azure-ad').OIDCStrategy;`
`var Strategy = new OIDCStrategy({
				 identityMetadata: settings.identityMetadata,
                                 clientID : settings.client_id,
                                  scope: 'openid',
				 responseType : 'code i

[2018-06-01 06:44] stelapo commented on #373
I know it's closed, but maybe it could be help a resolution.
Personaly I solved adding "audience" parameter into options; in the audience I specified the app id of my REST APIs that I want to access to from my Angular frontend app..

[2018-06-01 11:45] sbley commented on #373
Great, @stelapo. That did the trick.

Here is my config for reference.
[code]

[2018-06-08 18:36] lworkman commented on #376
Are you still having issues with this? I have no problems using `validateIssuer` to allow different tenants to access my app.

[2018-06-26 21:07] jfstgermain opened #385 "A key with the specific kid cannot be found"
Hello,

I'm trying to validate the token sent by a Vue application (using https://github.com/survirtual/vue-adal) when calling my API (using https://github.com/AzureAD/passport-azure-ad#52-bearerstrategy)  Unfortunately I always get the following error: Error: a key with the specific kid cannot be found.

From the log traces, the `kid` claim of the jwt is not part of the list of `kid`s retrieved b

[2018-06-29 18:10] #385 closed

[2018-07-03 08:56] jsve opened #386 "use popup instead of redirect"
When logging in the user is redirected to login.microsoftonline.com. Some other libraries allow the use of a popup instead (https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Login-methods). Is this possible with passport as well?

[2018-07-04 16:12] IGZmanuelMartinVivaldi opened #387 "'Error: OIDC strategy requires session support' when using Restify"
After receiving the POST callback and run passport.authenticate('azuread-openidconnect',... we got this error:

[code]

Session packages and OIDCStrategy settings for v2 are  included:

[code]

Any ideas? Thanks in advance.

[2018-07-04 20:55] addoyle opened #388 "ReferenceError: self is not defined"
Using version 3.0.12

I'm getting this error trying to use assertion-based auth:
[code]

[2018-07-05 14:14] IGZmanuelMartinVivaldi commented on #387
As the message error clearly explains, 'express-session' is required (maybe 'restify-session' could be used too)

I didn't know express modules could be used with restify.

[code]

Thanks

[2018-08-06 22:47] ADRDev commented on #304
Still nothing?

[2018-08-07 23:08] billytrend commented on #289
We are seeing the same issue under similar circumstances as @jbhue , does anyone know how to resolve this or what might be causing it?

[2018-08-13 23:39] billytrend opened #390 "Seeing collectInfoFromReq error after app is up for a period of time"
We have a node application running with 3 instances and using express-session to persist sessions. Everything works fine until a period of time has elapsed, around a week. After that time, no one is able to authenticate and we see `authentication failed due to: In collectInfoFromReq: invalid state received in the request` in the logs.

When we bounce the service, everything works fine. I have trie

[2018-08-13 23:43] vladbarosan commented on #390
tag @nehaagrawal , @navyasric

[2018-08-14 05:12] nehaagrawal commented on #390
@vladbarosan  Please mention what version of library you are using and the  version of node.js? Is there a way to repro this issue?

[2018-08-14 20:28] nehaagrawal commented on #383
I have released 4.0.0. Please check. Closing this issue for now.

[2018-08-14 20:28] #383 closed

[2018-08-14 21:09] vladbarosan commented on #390
@nehaagrawal we were running on Node 8.9.1 and Node 10 and we were using the latest version of the library before the security release today.

We dind't try the cookie encryption route. That seems that it might avoid the issuse, but we are not sure.

Like it is mentioned, its pretty hard to repro. We are running multiple instances and it happens usually after a couple of days/week

[2018-08-16 14:06] KurtPattyn opened #393 "SAML & WS-Fed Support"
Why was the SAML and WS-Fed support removed from version 3.x? Is there a specific reason for this?

[2018-08-27 09:13] Dortamur commented on #388
I am having the same problem. 3.0.11 works fine, but 3.0.12 fails with this error. 4.0.0 also fails with the same error. Using clientSecret works fine.

[2018-08-31 17:47] MarkusFeldmann opened #394 "How can I deal with Conditional Access"
Hi
I created an Azure App that stopped working as soon as Conditional Access was activated, is there a way to get this to work with passport-azure-ad without completely rewriting it?

The problem is that when I got a first token lets say for the graph api that did not need CA/MFA then the app wants to aquire another one for sharepoint an error is sent "interaction_required". Because this happens o

[2018-09-04 15:43] kidGodzilla opened #395 "Support when accessing a German Office 365 tenant"
I was wondering if there is an example or any documentation (I am having trouble locating it) related to using this to access a German Office 365 / Azure AD tenant. They seem to be operated in a separate facility by a local German provider, and the default integration doesn't seem to work.

We've been using this for quite some time but it inexplicably fails with very little debugging information.

[2018-09-04 22:37] OttoChamo opened #396 "Strategy.prototype.jwtVerify: cannot verify token. When using AzureAD v2.0"
We are migrating our application from the AzureAD v1.0 endpoint to AzureAD v2.0, but after doing the proper changes I receive that response which you see in the title.

This is my configuration:

identityMetadata: OAUTH2_CONFIG.identityMetadata,
clientID: OAUTH2_CONFIG.clientID,
audience: OAUTH2_CONFIG.clientID,
validateIssuer: OAUTH2_CONFIG.validateIssuer, //true
passReqToCallback: OAUTH2_CONFIG.

[2018-09-05 08:37] Dortamur commented on #341
I am also encountering this issue. At the moment we're using a similar global tunnel hack, but it would be cleaner if this could be defined specifically for passport-azure-ad.

For the "oauth" module, as of version 0.9.15, it allows setting of an Agent:
[code]
(Source: https://github.com/ciaranj/node-oauth/issues/307)

However, while passport-oauth2 depends on oauth "0.9.x", passport-azure-ad depe

[2018-09-05 17:55] OttoChamo commented on #373
@sbley Does that work only with v2.0 endpoint?

[2018-09-06 09:04] maxxt commented on #341
Has this issue been fixed?
I still get ECONNREFUSED errors behind corporate proxy.

[2018-09-15 00:03] danieldobalian commented on #394
Hi Markus,

There's a recommended pattern for this flow, and some future improvements that should make it easier.

In terms of what you can do now, the error you get should contain a `claims` parameter. This is state that represents the policy from Conditional Access that needs to be fulfilled. Your API/Service should issue a HTTP 403 back to the client with this parameter. The client can then pas

[2018-09-25 10:26] bluedusk opened #397 "Can I use this get token without popup user login screen ?"
Hi,
I need to write a backend app to read & write to a mailbox.  Can I use this library to get token from graph without the need of user login ?

[2018-09-25 14:05] sibelius commented on #393
is it recommended to use version 3.x to use SAML?

[2018-10-01 19:49] rocketraman commented on #396
Same problem here.

[2018-10-01 19:50] rocketraman commented on #396
Using the `BearerStrategy` of course. When checking the token manually via jwt.io, there is no issue -- it is valid, including the signature.

[2018-10-01 19:52] rocketraman commented on #396
Logs:

[code]

[2018-10-01 19:59] rocketraman commented on #396
Actually, never mind -- in my case it just looks like I hadn't set the issuer correctly. Logging at `loggingNoPII: false` produces far more useful information for debugging.

[2018-10-01 20:20] rocketraman commented on #396
One last note: I think there is still a bug in the library. The `validateIssuer` is supposed to work automatically when using the tenant-specific endpoint. However, that endpoint returns the v1 issuer e.g.:

[code]

For the v2 endpoint, the issuer is different:

[code]

It looks like this library doesn't adjust its logic to set the issuer depending on whether the access token is a v1 or v2 token.

[2018-10-01 21:22] rocketraman opened #398 "README for verify function does not match implementation"
The README states:

and one of the signatures listed is:

[code]

However, from the implementation it looks like only this signature is supported:

[code]

Same for the `passReqToCallback` true option.

See https://github.com/AzureAD/passport-azure-ad/blob/master/lib/bearerstrategy.js#L358

[2018-10-01 23:45] rocketraman commented on #398
My mistake: verify callback is only documented that way for the `OIDCStrategy`. Is there a way to get the access token using the `BearerStrategy`?

[2018-10-02 13:12] fchoquet opened #399 "Pass state cookie domain in configuration"
Hi

The state cookie domain is currently not explicitly set and is therefore linked to the request's subdomain. The consequence is that the cookie is not available when we try to read it from another subdomain.

This situation occurs when the login page can be served from 2 distinct subdomains (via a rewrite), for instance `app.mydomain.com` and `login.mydomain.com`.

If the user enters the applic